@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-Light.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-Regular.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-Medium.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-Bold.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-LightItalic.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-RegularItalic.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-MediumItalic.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/sfprodisplay/fonts/SFProDisplay-BoldItalic.woff2') format('woff2'), url('../fonts/sfprodisplay/fonts/SFProDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
.ol-page {
  padding: 50px 0;
}
@media (max-width: 1023px) {
  .ol-page {
    padding: 50px 5vw;
  }
}
.ol-sfhac {
  font: normal normal 14px/20px 'SFProDisplay', arial, sans-serif;
  background: url(../img/sfhac-widget/widget-bg.png) left top no-repeat;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  width: 1160px;
  height: 310px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 853px) {
  .ol-sfhac {
    margin: 0 -5vw;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: auto;
    height: 440px;
  }
}
@media (min-width: 854px) and (max-width: 1023px) {
  .ol-sfhac {
    width: auto;
    height: 310px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .ol-sfhac {
    width: 960px;
    height: 310px;
  }
}
.ol-sfhac--title {
  letter-spacing: 0.69px;
  position: absolute;
  top: 25px;
  right: auto;
  bottom: auto;
  left: 26px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--title {
    top: 24px;
  }
}
.ol-sfhac--text {
  opacity: 0.51;
  letter-spacing: 0.5px;
  position: absolute;
  top: 54px;
  right: auto;
  bottom: auto;
  left: 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--text {
    display: none;
  }
}
.ol-sfhac--features {
  position: absolute;
  top: 39px;
  right: auto;
  bottom: auto;
  left: 462px;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--features {
    opacity: 0.6;
    position: absolute;
    top: 53px;
    right: auto;
    bottom: auto;
    left: 26px;
  }
}
.ol-sfhac--features:before {
  content: "";
  background: rgba(255, 255, 255, 0.12);
  display: block;
  position: absolute;
  top: -39px;
  right: auto;
  bottom: auto;
  left: -33px;
  width: 1px;
  height: 94px;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--features:before {
    display: none;
  }
}
.ol-sfhac--feature {
  letter-spacing: 0.47px;
  margin: 0 18px 0 0;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.ol-sfhac--feature:before {
  content: "";
  background: rgba(255, 255, 255, 0.12);
  display: block;
  position: absolute;
  top: 0;
  right: -11px;
  bottom: auto;
  left: auto;
  width: 1px;
  height: 20px;
}
.ol-sfhac--feature:last-child:before {
  display: none;
}
.ol-sfhac--btn {
  width: 156px;
  height: auto;
  position: absolute;
  top: 28px;
  right: 26px;
  bottom: auto;
  left: auto;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--btn {
    top: 27px;
  }
}
.ol-sfhac--btn a {
  background: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
  color: #6052BB!important;
  -webkit-transition: 300ms opacity ease;
  -o-transition: 300ms opacity ease;
  transition: 300ms opacity ease;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 11px 0;
  display: block;
  font: 600 16px/20px 'SFProDisplay';
}
.ol-sfhac--btn a:hover {
  opacity: 0.8;
}
.ol-sfhac--map {
  background: #ffffff url(../img/sfhac-widget/widget-map.png) left top no-repeat;
  background-image: -webkit-image-set(url(../img/sfhac-widget/widget-map.png) 1x, url(../img/sfhac-widget/widget-map@2x.png) 2x);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  top: 94px;
  right: auto;
  bottom: auto;
  left: 26px;
  width: 1108px;
  height: 191px;
}
@media (min-width: 854px) and (max-width: 1439px) {
  .ol-sfhac--map {
    position: absolute;
    top: 94px;
    right: 26px;
    bottom: auto;
    left: 26px;
    width: auto;
    height: 191px;
  }
}
