/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
section,
footer {
  clear: both;
}
/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы) */
html {
  overflow-y: scroll;
}
/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px;
}
ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top;
}
/* Сбрасываем отступы у элементов форм */
button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
  margin: 1px 4px 4px 0;
}
input[type=text],
input[type=password] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* Решение проблемы с обрезанием стилизованных кнопок в IE */
button,
input[type=submit] {
  width: auto;
  overflow: visible;
}
.ie7 input[type=submit],
.ie7 input[type=reset],
.ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000);
}
/* Курсор-указатель на кликабельных элементах */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
/* Стандартизируем моноширные элементы */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/fonts/icomoon.eot?qja5ar');
  src: url('../fonts/icomoon/fonts/icomoon.eot?qja5ar#iefix') format('embedded-opentype'), url('../fonts/icomoon/fonts/icomoon.ttf?qja5ar') format('truetype'), url('../fonts/icomoon/fonts/icomoon.woff?qja5ar') format('woff'), url('../fonts/icomoon/fonts/icomoon.svg?qja5ar#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shortcuts:before {
  content: "\e909";
}
.icon-intro:before {
  content: "\e90a";
}
.icon-account:before {
  content: "\e90b";
}
.icon-chats:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e90d";
}
.icon-ios:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e907";
}
.icon-burger:before {
  content: "\e908";
}
.icon-tw:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-lin:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-al:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e900";
}
html {
  min-width: auto;
  width: auto;
  height: 100%;
}
body {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #ffffff;
  color: #1f3449;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
body input,
body textarea,
body button {
  font-family: 'SFProDisplay', arial, sans-serif;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1180px;
  height: auto;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .container {
    width: 768px;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .container {
    width: 1000px;
    height: auto;
  }
}
.btn {
  border: 1px solid;
  text-decoration: none;
  background: #ffffff;
  color: #000000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 19px 11px;
  -webkit-transition: 200ms border ease, 200ms background ease, 200ms color ease;
  -o-transition: 200ms border ease, 200ms background ease, 200ms color ease;
  transition: 200ms border ease, 200ms background ease, 200ms color ease;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.btn[data-style=electric] {
  border-color: #1790ff;
  color: rgba(23, 144, 255, 0.9);
  background: #ffffff;
}
.btn[data-style=electric]:hover {
  background: rgba(23, 144, 255, 0.08);
  border-color: #1790ff;
  color: #1790ff;
}
.btn[data-style=electric]:active {
  background: #1790ff;
  border-color: #1790ff;
  color: #ffffff;
}
.btn[data-style=app] {
  border-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.7);
  background: #ffffff;
  padding: 8px 19px 6px 15px;
  font-size: 0;
  line-height: 0;
}
.btn[data-style=app]:hover {
  background: rgba(23, 144, 255, 0.08);
  border-color: transparent;
  color: rgba(23, 144, 255, 0.9);
}
.btn[data-style=app]:active {
  background: #1790ff;
  border-color: transparent;
  color: #ffffff;
}
.btn[data-style=app] img {
  overflow: hidden;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  margin: -1px 8px 1px 0px;
  -webkit-box-shadow: 0 0 0 2px #ffffff;
  box-shadow: 0 0 0 2px #ffffff;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
}
.btn[data-style=app] span {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
.btn[data-style=primary] {
  border-color: transparent;
  background: #1790ff;
  color: #ffffff;
  padding: 12px 18px 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.btn[data-style=primary]:hover {
  background: #1585ed;
  border-color: transparent;
  color: #ffffff;
}
.btn[data-style=primary]:active {
  background: #147ee0;
  border-color: transparent;
  color: #ffffff;
}
.btn[data-style=primary] i.icon-google {
  margin: 1px 12px -1px 0;
  font-size: 18px;
  line-height: 20px;
}
.btn[data-style=ghost] {
  border-color: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.7);
  background: #ffffff;
  padding: 12px 16px 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.btn[data-style=ghost]:hover {
  background: rgba(23, 144, 255, 0.08);
  border-color: transparent;
  color: rgba(23, 144, 255, 0.9);
}
.btn[data-style=ghost]:active {
  background: #1790ff;
  border-color: transparent;
  color: #ffffff;
}
.btn[data-style=ghost] i {
  opacity: .50;
}
.btn[data-style=ghost] i.icon-mail {
  margin: 1px 10px -1px 0;
  font-size: 18px;
  line-height: 20px;
}
.btn.is-block {
  padding-left: 0;
  padding-right: 0;
  display: block;
  width: 100%;
  height: auto;
}
.btn i {
  display: inline-block;
  vertical-align: top;
}
.header {
  padding: 22px 0;
  z-index: 2;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 767px) {
  .header {
    padding: 31px 0;
  }
}
.header--in {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header--logo {
  margin: -3px 0 0;
  display: block;
}
.header--logo img {
  display: block;
  width: 145px;
  height: 42px;
}
.header--logo img.is-hover {
  display: none;
}
.header--logo:hover img {
  display: none;
}
.header--logo:hover img.is-hover {
  display: block;
}
.header--open {
  text-decoration: none;
  color: #1f3449;
  text-align: center;
  display: none;
  width: 66px;
  height: auto;
}
.header--open:before {
  content: "\e908";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 42px;
}
@media (max-width: 767px) {
  .header--open {
    display: block;
  }
}
.header--nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 70px;
}
@media (max-width: 767px) {
  .header--nav {
    display: none;
  }
}
.header--list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.header--item {
  margin: 0 32px 0 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header--item:last-child {
  margin: 0;
}
.header--item > a,
.header--item > span {
  padding: 10px 0;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header--item > a:before,
.header--item > span:before {
  content: "";
  background: #1790ff;
  display: none;
  position: absolute;
  top: auto;
  right: 0;
  bottom: 2px;
  left: 0;
  width: auto;
  height: 2px;
}
.header--item > a {
  color: #536086;
  text-decoration: none;
}
.header--item > a:hover {
  color: #1f3449;
}
.header--item > span {
  color: #1f3449;
}
.header--item.is-active > a:before,
.header--item.is-active > span:before {
  display: block;
}
.header--apps {
  padding: 0 13px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header--app {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  color: #1790ff;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 51px;
  height: 40px;
}
a.header--app:hover {
  opacity: 0.7;
}
.header--app i.icon-android {
  font-size: 25px;
  line-height: 25px;
}
.header--app i.icon-ios {
  font-size: 24px;
  line-height: 24px;
}
.header--btn {
  margin: 0 0 0 12px;
}
@media (max-width: 767px) {
  .header--btn {
    display: none;
  }
}
.tooltip {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  white-space: nowrap;
  display: none;
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 50%;
}
*:hover > .tooltip {
  display: block;
}
.menu {
  background: #1790ff;
  color: #ffffff;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .menu {
    display: none !important;
  }
}
.menu--close {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  position: absolute;
  top: 31px;
  right: 15px;
  bottom: auto;
  left: auto;
  width: 66px;
  height: auto;
}
.menu--close:before {
  content: "\e907";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 42px;
}
.menu--in {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 6px 0 0;
  margin: 20px 0 0;
  opacity: 0;
  -webkit-transition: 400ms opacity ease, 400ms margin ease;
  -o-transition: 400ms opacity ease, 400ms margin ease;
  transition: 400ms opacity ease, 400ms margin ease;
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
}
.menu--in.is-shown {
  opacity: 1;
  margin: 0;
}
.menu--list {
  list-style: none;
  margin: 0;
  padding: 0 0 29px;
}
.menu--item {
  margin: 0 0 24px;
  display: block;
}
.menu--item > * {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  display: block;
}
.menu--item > *:hover {
  color: #ffffff;
}
.menu--item.is-active > * {
  color: #ffffff;
}
.footer {
  background: #fafafa;
}
.footer--box {
  padding: 54px 0 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer--col:nth-child(1) {
  width: 253px;
  height: auto;
}
.footer--col:nth-child(2) {
  width: 202px;
  height: auto;
}
.footer--col:nth-child(3) {
  width: 198px;
  height: auto;
}
.footer--col:nth-child(4) {
  width: 236px;
  height: auto;
}
.footer--col:nth-child(5) {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .footer--col:nth-child(1) {
    width: 215px;
    height: auto;
  }
  .footer--col:nth-child(2) {
    width: 130px;
    height: auto;
  }
  .footer--col:nth-child(3) {
    width: 160px;
    height: auto;
  }
  .footer--col:nth-child(4) {
    width: 200px;
    height: auto;
  }
}
.footer--logo {
  margin: -18px 0 8px;
}
.footer--logo img {
  display: block;
  width: 145px;
  height: 42px;
}
.footer--logo img.is-hover {
  display: none;
}
.footer--logo:hover img {
  display: none;
}
.footer--logo:hover img.is-hover {
  display: block;
}
.footer--title {
  text-transform: uppercase;
  color: rgba(83, 96, 134, 0.6);
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.footer--links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer--links li {
  display: block;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.footer--links a {
  text-decoration: none;
  color: #1f3449;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: inline-block;
  vertical-align: top;
}
.footer--links a:hover {
  color: #1790ff;
}
.footer--links i {
  color: rgba(83, 96, 134, 0.5);
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 34px;
}
.footer--links i.icon-phone {
  margin: 1px 11px -1px 1px;
}
.footer--links i.icon-mail {
  margin: 2px 10px -2px 0;
}
.footer--socials {
  margin: 0 0 0 -9px;
  font-size: 0;
  line-height: 0;
}
.footer--social {
  color: #a6acbf;
  text-decoration: none;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 36px;
}
.footer--social:hover {
  color: #1790ff;
}
.footer--social i {
  display: block;
}
.footer--social i.icon-lin {
  font-size: 17px;
  line-height: 36px;
}
.footer--social i.icon-fb {
  font-size: 18px;
  line-height: 36px;
}
.footer--social i.icon-tw {
  font-size: 15px;
  line-height: 38px;
}
.footer--social i.icon-al {
  font-size: 20px;
  line-height: 36px;
}
.footer--info {
  border-top: 1px solid rgba(237, 239, 243, 0.6);
  text-align: center;
  color: rgba(31, 52, 73, 0.5);
  padding: 17px 0 19px;
  font-size: 14px;
  line-height: 24px;
}
.footer--info span {
  padding: 0 0 0 17px;
  display: inline-block;
  vertical-align: top;
}
.footer--apps {
  padding: 4px 0 0;
  margin: 0 0 0 -2px;
  font-size: 0;
  line-height: 0;
}
.footer--app {
  margin: 0 15px 0 0;
  background: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: inline-block;
  vertical-align: top;
}
.footer--app:last-child {
  margin: 0;
}
a.footer--app:hover {
  opacity: 0.7;
}
.footer--app.is-apple {
  background-image: url(../img/appstore.png);
  width: 119px;
  height: 40px;
}
.footer--app.is-google {
  background-image: url(../img/googleplay.png);
  width: 112px;
  height: 39px;
}
[data-animate] {
  opacity: 0;
}
[data-animate].is-animated {
  opacity: 1;
}
.page {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: initial;
  min-height: 100vh;
}
.page--box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.page--in {
  border-top: 1px solid rgba(237, 239, 243, 0.6);
}
@media (max-width: 767px) {
  .page--in {
    border: none;
  }
}
.intro {
  padding: 79px 0 0;
  margin: 48px 0 0;
  z-index: 1;
  background: url(../img/intro-bg.png) center center no-repeat;
  background-image: -webkit-image-set(url(../img/intro-bg.png) 1x, url(../img/intro-bg@2x.png) 2x);
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: auto;
  height: 500px;
}
@media (max-width: 767px) {
  .intro {
    padding: 14px 0 65px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro {
    padding: 61px 0 81px;
  }
}
.intro--title {
  margin: 0 0 12px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro--title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--title {
    font-size: 30px;
    line-height: 40px;
  }
}
.intro--text {
  opacity: .80;
  color: #536086;
  margin: 0 0 50px;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 767px) {
  .intro--text {
    margin: 0 auto 40px;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
    max-height: initial;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--text {
    font-size: 16px;
    line-height: 24px;
  }
}
.intro--form {
  margin: 0 0 30px;
  width: 465px;
  height: auto;
}
@media (max-width: 767px) {
  .intro--form {
    margin: 0 auto 58px;
    width: auto;
    height: auto;
  }
}
.intro--label {
  color: rgba(83, 96, 134, 0.5);
  font-size: 14px;
  line-height: 16px;
}
.signup--variant {
  display: none;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.signup--variant.is-shown {
  display: block;
}
.signup--btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.signup--btn {
  width: 234px;
  height: auto;
}
@media (max-width: 767px) {
  .signup--btn {
    width: 240px;
    height: auto;
  }
}
.signup--btn:nth-child(2) {
  margin-left: 12px;
  width: 219px;
  height: auto;
}
.signup--link {
  text-align: center;
  text-decoration: none;
  color: rgba(83, 96, 134, 0.6);
  padding: 15px 0;
  margin: 8px 0 -15px;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.signup--link:hover {
  color: #1790ff;
}
.signup--form {
  *zoom: 1;
}
.signup--form:after {
  clear: both;
}
.signup--form:before,
.signup--form:after {
  content: " ";
  display: table;
}
.signup--input {
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-right: none;
  -webkit-border-radius: 5px 0 0 5px!important;
  border-radius: 5px 0 0 5px!important;
  padding: 0 20px;
  display: block;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  height: 48px;
  font-size: 16px;
  line-height: 46px;
}
.signup--submit {
  float: right;
  border: none;
  background: #1790ff;
  color: #ffffff;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  text-align: center;
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  padding: 0;
  width: 100px;
  height: 48px;
  display: block;
  font-size: 16px;
  line-height: 46px;
  font-weight: 600;
}
.signup--submit:hover {
  background: #1585ed;
  color: #ffffff;
}
.signup--submit:active {
  background: #147ee0;
  color: #ffffff;
}
.tasks {
  padding: 77px 0 0;
}
.tasks--title {
  text-align: center;
  margin: 0 0 45px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}
.tasks--items {
  text-align: center;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  max-width: 800px;
  max-height: initial;
}
.tasks--item {
  margin: 0 10px 20px;
  padding: 17px 36px;
  color: #4285f4;
  background: rgba(66, 133, 244, 0.15);
  -webkit-border-radius: 7px;
  border-radius: 7px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 20px;
}
.tools {
  padding: 110px 0 51px;
  margin: 0 0 80px;
  overflow: hidden;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.tools:before {
  content: "";
  background: url(../img/tools-bg.png) no-repeat;
  background-image: -webkit-image-set(url(../img/tools-bg.png) 1x, url(../img/tools-bg@2x.png) 2x);
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: -webkit-calc(50% - 49px);
  left: calc(50% - 49px);
  display: block;
  width: 745px;
  height: 469px;
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .tools:before {
    left: 55%;
  }
}
.tools--title {
  text-align: center;
  margin: 0 0 112px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}
.tools--item {
  color: rgba(31, 52, 73, 0.7);
  padding: 0 0 0 83px;
  margin: 0 0 47px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 18px;
  line-height: 21px;
}
.tools--item:last-child {
  margin: 0;
}
.tools--item i {
  background: #e3edfe;
  -webkit-border-radius: 58px;
  border-radius: 58px;
  text-align: center;
  color: #1790ff;
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: -2px;
  right: auto;
  bottom: auto;
  left: 0;
}
.tools--item i.icon-account {
  font-size: 28px;
  line-height: 58px;
}
.tools--item i.icon-intro {
  font-size: 26px;
  line-height: 58px;
}
.tools--item i.icon-shortcuts {
  font-size: 20px;
  line-height: 58px;
}
.tools--item i.icon-chats {
  font-size: 25px;
  line-height: 58px;
}
.tools--item span {
  color: #1f3449;
  margin: 0 0 9px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.access {
  border-top: 1px solid rgba(237, 239, 243, 0.6);
  padding: 100px 0 110px;
}
.access--box {
  padding: 0 0 0 76px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .access--box {
    padding-left: 50px;
  }
}
.access--title {
  margin: 0 0 11px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 600;
}
.access--text {
  color: rgba(83, 96, 134, 0.8);
  font-size: 20px;
  line-height: 24px;
}
.access--btn {
  width: 182px;
  height: auto;
  position: absolute;
  top: 16px;
  right: 140px;
  bottom: auto;
  left: auto;
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .access--btn {
    right: 50px;
  }
}
.about {
  padding: 42px 0 13px;
}
@media (max-width: 767px) {
  .about {
    padding: 14px 0 5px;
  }
}
.about--row {
  margin: 0 0 47px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .about--row {
    margin: 0 0 40px;
  }
}
.about--label {
  color: #536086;
  padding: 3px 20px 0 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  width: 253px;
  height: auto;
}
@media (max-width: 999px) {
  .about--label {
    float: none;
    padding: 0 0 15px;
    width: auto;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .about--label {
    width: 215px;
    height: auto;
  }
}
.about--info {
  margin: 13px 0 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  width: 180px;
  height: auto;
}
@media (max-width: 999px) {
  .about--info {
    width: auto;
    height: auto;
  }
}
.about--info a {
  color: #1790ff;
  text-decoration: none;
}
.about--info a:hover {
  text-decoration: underline;
}
.about--box {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 999px) {
  .about--box {
    float: none;
    width: auto;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .about--box {
    width: -webkit-calc(100% - 220px);
    width: calc(100% - 220px);
    height: auto;
  }
}
.about--text {
  font-size: 16px;
  line-height: 24px;
}
.about--text p {
  margin: 0 0 12px;
}
.about--text p:last-child {
  margin: 0;
}
.about--additional {
  font-style: italic;
  color: #536086;
  margin: 3px 0 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.about--additional a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
}
.about--additional a:hover {
  text-decoration: underline;
}
.content {
  padding: 22px 0 26px;
}
@media (max-width: 767px) {
  .content {
    padding: 0 0 26px;
  }
}
.content--head {
  padding: 39px 0 20px 283px;
  margin: 0 0 19px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  min-width: initial;
  min-height: 169px;
}
@media (max-width: 767px) {
  .content--head {
    padding: 0 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--head {
    padding: 44px 0 20px 240px;
  }
}
.content--icon {
  background: center center no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  width: 210px;
  height: 169px;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 18px;
}
@media (max-width: 767px) {
  .content--icon {
    margin: 0 auto 15px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--icon {
    left: 2px;
  }
}
.content--icon.is-privacy {
  background-image: url(../img/img-privacy.svg);
}
.content--icon.is-terms {
  background-image: url(../img/img-terms.svg);
}
.content--title {
  color: #000000;
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .content--title {
    text-align: center;
    margin: 0 0 13px;
    font-size: 30px;
    line-height: 38px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--title {
    margin: 0 0 6px;
    font-size: 30px;
    line-height: 40px;
  }
}
.content--text {
  font-style: italic;
  color: rgba(83, 96, 134, 0.8);
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 767px) {
  .content--text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--text {
    font-size: 16px;
    line-height: 24px;
  }
}
.content--wrap {
  *zoom: 1;
}
.content--wrap:after {
  clear: both;
}
.content--wrap:before,
.content--wrap:after {
  content: " ";
  display: table;
}
.content--side {
  float: left;
  width: 248px;
  height: auto;
}
@media (max-width: 767px) {
  .content--side {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--side {
    width: 215px;
    height: auto;
  }
}
.content--menu {
  padding: 0 0 24px;
}
.content--menu ul {
  list-style: none;
  margin: 0;
  padding: 16px 16px 17px;
  border: 1px solid rgba(237, 239, 243, 0.6);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
}
.content--menu li {
  color: rgba(31, 52, 73, 0.8);
  margin: 0 0 11px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
.content--menu li:last-child {
  margin: 0;
}
.content--menu li.is-active {
  cursor: default;
}
.content--menu li.is-active,
.content--menu li:hover {
  color: #1790ff;
}
.content--menu a {
  text-decoration: none;
  color: inherit;
  display: block;
}
.content--box {
  float: right;
  padding: 0 0 24px;
  font-size: 15px;
  line-height: 22px;
  width: -webkit-calc(100% - 283px);
  width: calc(100% - 283px);
  height: auto;
}
@media (max-width: 767px) {
  .content--box {
    float: none;
    width: auto;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .content--box {
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
    height: auto;
  }
}
.content--box h1 {
  margin: 0 0 15px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
.content--box h2 {
  margin: 32px 0 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.content--box p {
  margin: 0 0 12px;
}
.content--box ul {
  list-style: none;
  margin: 0 0 24px;
  padding: 0;
}
.content--box ul li {
  padding: 0 0 6px 33px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.content--box ul li:last-child {
  padding-bottom: 0;
}
.content--box ul li:before {
  content: "";
  background: #1f3449;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 11px;
  right: auto;
  bottom: auto;
  left: 24px;
}
.content--box a {
  color: #1790ff;
  text-decoration: none;
}
.content--box a:hover {
  text-decoration: underline;
}
.content--box > *:first-child {
  margin-top: 0!important;
}
.content--box > *:last-child {
  margin-bottom: 0!important;
}
.members {
  *zoom: 1;
}
.members:after {
  clear: both;
}
.members:before,
.members:after {
  content: " ";
  display: table;
}
.member {
  float: left;
  padding: 7px 0 0 132px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  width: 50%;
  height: auto;
  min-width: initial;
  min-height: 116px;
}
@media (max-width: 767px) {
  .member {
    float: left;
    padding: 0 0 0 100px;
    margin: 0 0 20px;
    width: 100%;
    height: auto;
    min-width: initial;
    min-height: 85px;
  }
  .member:last-child {
    margin: 0;
  }
}
@media (max-width: 767px) and (min-width: 550px) {
  .member {
    margin: 0;
    width: 50%;
    height: auto;
  }
}
.member--photo {
  width: 110px;
  height: auto;
  position: absolute;
  top: 3px;
  right: auto;
  bottom: auto;
  left: 0;
}
@media (max-width: 767px) {
  .member--photo {
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 85px;
    height: auto;
  }
}
.member--photo img {
  display: block;
  width: 100%;
  height: auto;
}
.member--name {
  color: #000000;
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .member--name {
    font-size: 20px;
    line-height: 26px;
  }
}
.member--position {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .member--position {
    font-size: 14px;
    line-height: 20px;
  }
}
.member--links {
  padding: 18px 0 0;
  font-size: 0;
  line-height: 0;
}
@media (max-width: 767px) {
  .member--links {
    padding: 10px 0 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}
.member--link {
  margin: 0 20px 0 0;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms all ease;
  -o-transition: 200ms all ease;
  transition: 200ms all ease;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .member--link {
    font-size: 0;
    line-height: 0;
  }
}
.member--link:last-child {
  margin: 0;
}
.member--link:hover {
  color: #1790ff;
}
.member--link i {
  display: inline-block;
  vertical-align: top;
}
.member--link i.icon-lin {
  font-size: 20px;
  line-height: 20px;
}
.member--link i.icon-mail {
  margin: 2px 8px -2px 0;
  font-size: 18px;
  line-height: 20px;
}
.position {
  padding: 0 100px 31px 0;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 999px) {
  .position {
    padding-bottom: 20px;
  }
}
.position--title {
  color: #000000;
  margin: 0 0 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
.position--info {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}
.position--btn {
  position: absolute;
  top: 11px;
  right: 3px;
  bottom: auto;
  left: auto;
  width: 75px;
  height: auto;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-ib,
.visible-sm-ib,
.visible-md-ib,
.visible-lg-ib {
  display: none;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }
  .visible-xs-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .visible-sm {
    display: block;
  }
  .visible-sm-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1179px) {
  .visible-md {
    display: block;
  }
  .visible-md-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1180px) {
  .visible-lg {
    display: block;
  }
  .visible-lg-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-lg {
    display: none !important;
  }
}
