/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
@import "../fonts/apercupro/style.css";
@import "../fonts/icomoon/style.css";
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
section,
footer {
  clear: both;
}
/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы) */
html {
  overflow-y: scroll;
}
/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px;
}
ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top;
}
/* Сбрасываем отступы у элементов форм */
button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
  margin: 1px 4px 4px 0;
}
input[type=text],
input[type=password] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* Решение проблемы с обрезанием стилизованных кнопок в IE */
button,
input[type=submit] {
  width: auto;
  overflow: visible;
}
.ie7 input[type=submit],
.ie7 input[type=reset],
.ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000);
}
/* Курсор-указатель на кликабельных элементах */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
/* Стандартизируем моноширные элементы */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
html {
  min-width: auto;
  width: auto;
  height: 100%;
}
body {
  font: normal normal 14px/20px 'Graphik', arial, sans-serif;
  background: #ffffff;
  color: #1B1038;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
body input,
body textarea,
body button {
  font-family: 'Graphik', arial, sans-serif;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 1172px;
  height: auto;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 28px;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .container {
    padding: 0 35px;
    width: 768px;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .container {
    width: 1000px;
    height: auto;
  }
}
.btn {
  border: 2px solid rgba(107, 80, 255, 0.5);
  text-decoration: none;
  background: none;
  color: #6B50FF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 8px 14px;
  -webkit-transition: 200ms border ease,
				200ms background ease,
				200ms color ease;
  -o-transition: 200ms border ease,
				200ms background ease,
				200ms color ease;
  transition: 200ms border ease,
				200ms background ease,
				200ms color ease;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.btn:hover {
  background: #6B50FF;
  border-color: #6B50FF;
  color: #ffffff;
}
.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 18px;
  -webkit-transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  -o-transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 38px;
}
.btn-outline:hover {
  background: #ffffff;
  color: #6B50FF;
  border-color: #ffffff;
}
.header {
  padding: 24px 0;
}
@media (max-width: 767px) {
  .header {
    padding: 31px 0;
  }
}
.header--in {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  *zoom: 1;
}
.header--in:after {
  clear: both;
}
.header--in:before,
.header--in:after {
  content: " ";
  display: table;
}
.header--logo {
  float: left;
  padding: 4px 0 12px;
  -webkit-transition: 200ms opacity ease;
  -o-transition: 200ms opacity ease;
  transition: 200ms opacity ease;
  display: block;
}
.header--logo:hover {
  opacity: .70;
}
.header--logo img {
  display: block;
  width: 100px;
  height: 24px;
}
.header--open {
  text-decoration: none;
  color: #1B1038;
  float: right;
  display: none;
}
.header--open:before {
  content: '\e907';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
  line-height: 42px;
}
@media (max-width: 767px) {
  .header--open {
    display: block;
  }
}
.header--nav {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
}
@media (max-width: 767px) {
  .header--nav {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .header--nav {
    padding: 0 50px 0 0;
  }
}
.header--list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.header--item {
  margin: 0 16px;
  display: inline-block;
  vertical-align: top;
}
@media (min-width: 768px) and (max-width: 999px) {
  .header--item {
    margin: 0 8px;
  }
}
.header--item a {
  color: rgba(27, 16, 56, 0.7);
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header--item a:before {
  content: "";
  background: #1B1038;
  display: none;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
}
.header--item a:hover {
  color: #1B1038;
}
.header--item.is-active a {
  color: #1B1038;
}
.header--item.is-active a:before {
  display: block;
}
.header--btn {
  float: right;
}
@media (max-width: 767px) {
  .header--btn {
    display: none;
  }
}
.header--auth {
  float: right;
  text-decoration: none;
  color: rgba(27, 16, 56, 0.7);
  padding: 10px 0;
  margin: 0 24px 0 0;
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 999px) {
  .header--auth {
    margin: 0 20px 0 0;
  }
}
.header--auth:hover {
  color: #1B1038;
}
.menu {
  background: #6B50FF;
  color: #ffffff;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .menu {
    display: none !important;
  }
}
.menu--close {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 0 30px;
  display: block;
  position: absolute;
  top: 31px;
  right: 0;
  bottom: auto;
  left: auto;
}
.menu--close:before {
  content: '\e906';
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  line-height: 42px;
}
.menu--in {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 6px 0 0;
  margin: 20px 0 0;
  opacity: 0;
  -webkit-transition: 400ms opacity ease,
					400ms margin ease;
  -o-transition: 400ms opacity ease,
					400ms margin ease;
  transition: 400ms opacity ease,
					400ms margin ease;
  -webkit-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
}
.menu--in.is-shown {
  opacity: 1;
  margin: 0;
}
.menu--list {
  list-style: none;
  margin: 0;
  padding: 0 0 29px;
}
.menu--item {
  margin: 0 0 24px;
  display: block;
}
.menu--item a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 28px;
  line-height: 34px;
  display: block;
}
.menu--item a:hover {
  color: #ffffff;
}
.menu--item.is-active a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .footer {
    padding: 34px 0;
  }
}
.footer--in {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  *zoom: 1;
}
.footer--in:after {
  clear: both;
}
.footer--in:before,
.footer--in:after {
  content: " ";
  display: table;
}
.footer--logo {
  float: left;
  padding: 26px 0 27px;
  margin: 0 20px 0 0;
  -webkit-transition: 200ms opacity ease;
  -o-transition: 200ms opacity ease;
  transition: 200ms opacity ease;
  display: block;
}
@media (max-width: 767px) {
  .footer--logo {
    padding: 0;
    float: none;
    margin: 0 0 34px;
  }
}
.footer--logo:hover {
  opacity: .70;
}
.footer--logo img {
  display: block;
  width: 85px;
  height: 20px;
}
.footer--nav {
  float: left;
}
@media (max-width: 767px) {
  .footer--nav {
    float: none;
    margin: 0 0 24px;
  }
}
.footer--list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.footer--item {
  margin: 0 12px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767px) {
  .footer--item {
    margin: 0;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .footer--item:first-child {
    margin-left: 0;
  }
}
.footer--item a {
  color: #1B1038;
  text-decoration: none;
  opacity: .60;
  -webkit-transition: 200ms opacity ease;
  -o-transition: 200ms opacity ease;
  transition: 200ms opacity ease;
  padding: 28px 0 25px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.footer--item a:hover {
  opacity: 1;
}
.footer--socials {
  float: right;
  *zoom: 1;
}
.footer--socials:after {
  clear: both;
}
.footer--socials:before,
.footer--socials:after {
  content: " ";
  display: table;
}
.footer--social {
  float: left;
  text-decoration: none;
  padding: 30px 0 29px 15px;
  color: rgba(118, 111, 137, 0.8);
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
  display: block;
}
.footer--social i {
  display: block;
  font-size: 14px;
  line-height: 14px;
}
.footer--social:hover {
  color: #1B1038;
}
.form {
  *zoom: 1;
}
.form:after {
  clear: both;
}
.form:before,
.form:after {
  content: " ";
  display: table;
}
.form--input {
  float: left;
  border: 1px solid rgba(27, 16, 56, 0.25);
  border-right: none;
  -webkit-border-radius: 4px 0 0 4px!important;
  border-radius: 4px 0 0 4px!important;
  padding: 10px 15px;
  display: block;
  width: -webkit-calc(100% - 155px);
  width: calc(100% - 155px);
  height: 48px;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 767px) {
  .form--input {
    float: none;
    border: 1px solid rgba(27, 16, 56, 0.25);
    border-bottom: none;
    -webkit-border-radius: 4px 4px 0 0!important;
    border-radius: 4px 4px 0 0!important;
    width: 100%;
    height: 47px;
  }
}
.form--submit {
  float: right;
  border: none;
  background: #6B50FF;
  color: #ffffff;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  text-align: center;
  -webkit-transition: 200ms background ease,
					200ms opacity ease;
  -o-transition: 200ms background ease,
					200ms opacity ease;
  transition: 200ms background ease,
					200ms opacity ease;
  padding: 10px 0;
  width: 155px;
  height: 48px;
  display: block;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .form--submit {
    float: none;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    width: 100%;
    height: 48px;
  }
}
.form--submit:hover {
  background: #462BD9;
}
.form.is-light .form--input {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-right: none;
  color: #ffffff;
  padding: 9px 14px;
}
.form.is-light .form--input::-webkit-input-placeholder {
  color: #ffffff;
}
.form.is-light .form--input::-moz-placeholder {
  color: #ffffff;
}
.form.is-light .form--input:-ms-input-placeholder {
  color: #ffffff;
}
.form.is-light .form--input:-moz-placeholder {
  color: #ffffff;
}
.form.is-light .form--submit {
  background: #ffffff;
  color: #166D97;
}
.form.is-light .form--submit:hover {
  opacity: .70;
}
.page {
  overflow: hidden;
}
.intro {
  padding: 70px 0 97px;
}
@media (max-width: 767px) {
  .intro {
    padding: 14px 0 65px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro {
    padding: 61px 0 81px;
  }
}
.intro--title {
  margin: 0 0 17px;
  text-align: center;
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .intro--title {
    margin: 0 0 24px;
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--title {
    font-size: 40px;
    line-height: 48px;
  }
}
.intro--text {
  text-align: center;
  opacity: .60;
  margin: 0 0 38px;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .intro--text {
    margin: 0 0 40px;
    font-size: 20px;
    line-height: 28px;
  }
}
.intro--form {
  margin: 0 auto 87px;
  width: 395px;
  height: auto;
}
@media (max-width: 767px) {
  .intro--form {
    margin: 0 auto 64px;
    width: 264px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--form {
    width: 368px;
    height: auto;
  }
}
.intro--illustration {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.intro--row {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.intro--image {
  margin: 30px 0 19px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--image {
    width: auto;
    height: 170px;
  }
}
.intro--image img {
  margin: 0 auto;
  display: block;
  width: auto;
  height: 208px;
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--image img {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: auto;
    height: 170px;
    position: absolute;
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .intro--image img {
    width: auto;
    height: 170px;
  }
}
.intro--feature {
  color: rgba(27, 16, 56, 0.6);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #c6c3cd;
  padding: 14px 15px;
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 999px) {
  .intro--feature {
    padding: 6px 10px;
    margin: 0 2px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
}
.intro--feature:before,
.intro--feature:after {
  content: "";
  border-top: 5px solid #c6c3cd;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0 0 0 -5px;
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -6px;
  left: 50%;
}
.intro--feature:after {
  bottom: -4px;
  border-top-color: #ffffff;
}
.intro--row:last-child .intro--feature:before,
.intro--row:last-child .intro--feature:after {
  border-top: none;
  border-bottom: 5px solid #c6c3cd;
  position: absolute;
  top: -6px;
  right: auto;
  bottom: auto;
  left: 50%;
}
.intro--row:last-child .intro--feature:after {
  top: -4px;
  border-bottom-color: #ffffff;
}
.features {
  padding: 0 0 107px;
}
.features--text {
  text-align: center;
  margin: 0 auto 101px;
  font-size: 24px;
  line-height: 32px;
  max-width: 480px;
  max-height: initial;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--text {
    margin: 0 auto 50px;
  }
}
.features--lines {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--lines {
    display: none;
  }
}
.features--line {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.features--line:nth-child(1) {
  border: 2px solid #C6C3CD;
  border-bottom: none;
  -webkit-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  margin: 0 auto;
  width: 865px;
  height: 72px;
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--line:nth-child(1) {
    width: 750px;
    height: 72px;
  }
}
.features--line:nth-child(1):before,
.features--line:nth-child(1):after {
  content: "";
  background: #ffffff;
  border: 2px solid #C6C3CD;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  width: 10px;
  height: 10px;
}
.features--line:nth-child(1):before {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -8px;
  left: -6px;
}
.features--line:nth-child(1):after {
  position: absolute;
  top: auto;
  right: -6px;
  bottom: -8px;
  left: auto;
}
.features--line:nth-child(2) {
  background: #C6C3CD;
  margin: 0 0 0 -1px;
  position: absolute;
  top: -71px;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 2px;
  height: 71px;
}
.features--line:nth-child(2):after {
  position: absolute;
  top: -8px;
  right: auto;
  bottom: auto;
  left: -4px;
}
.features--line:nth-child(3) {
  background: #C6C3CD;
  margin: 0 0 0 -144px;
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 2px;
  height: 69px;
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--line:nth-child(3) {
    margin-left: -122px;
  }
}
.features--line:nth-child(4) {
  background: #C6C3CD;
  margin: 0 0 0 142px;
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 50%;
  width: 2px;
  height: 69px;
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--line:nth-child(4) {
    margin-left: 120px;
  }
}
.features--line:nth-child(2):after,
.features--line:nth-child(3):after,
.features--line:nth-child(4):after {
  content: "";
  background: #ffffff;
  border: 2px solid #C6C3CD;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  width: 10px;
  height: 10px;
}
.features--line:nth-child(3):after,
.features--line:nth-child(4):after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -8px;
  left: -4px;
}
.features--grid {
  padding: 44px 0 0 87px;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--grid {
    padding: 0;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--grid {
    padding-left: 60px;
  }
}
.features--item {
  display: inline-block;
  vertical-align: top;
  width: 289px;
  height: auto;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--item {
    width: 28%;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--item {
    width: 255px;
    height: auto;
  }
}
.features--item:nth-child(4) {
  width: -webkit-calc(100% - 289px - 289px - 289px);
  width: calc(100% - 289px - 289px - 289px);
  height: auto;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--item:nth-child(4) {
    width: 16%;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .features--item:nth-child(4) {
    width: -webkit-calc(100% - 255px - 255px - 255px);
    width: calc(100% - 255px - 255px - 255px);
    height: auto;
  }
}
.features--icon {
  color: #6B50FF;
  margin: 0 0 15px;
}
.features--icon i {
  display: block;
}
.features--icon i.icon-land {
  font-size: 22px;
  line-height: 22px;
}
.features--icon i.icon-calc {
  font-size: 22px;
  line-height: 22px;
}
.features--icon i.icon-arrows {
  font-size: 13px;
  line-height: 22px;
}
.features--icon i.icon-docs {
  font-size: 18px;
  line-height: 22px;
}
.features--title {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
@media (min-width: 768px) and (max-width: 999px) {
  .features--title {
    margin: 0 0 14px;
    font-size: 18px;
    line-height: 22px;
  }
}
.features--list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.features--list li {
  margin: 0 0 10px;
  color: rgba(27, 16, 56, 0.6);
  font-size: 14px;
  line-height: 20px;
}
.features--list li:last-child {
  margin: 0;
}
.available {
  padding: 0 0 109px;
}
.available--title {
  text-align: center;
  margin: 0 0 38px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
}
.available--in {
  width: auto;
  height: 60px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (min-width: 768px) and (max-width: 999px) {
  .available--in {
    width: auto;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .available--in {
    width: auto;
    height: 52px;
  }
}
.available--box {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 768px) and (max-width: 999px) {
  .available--box {
    text-align: center;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    white-space: initial;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
}
.available--box span {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid rgba(31, 182, 255, 0.3);
  padding: 18px 22px;
  margin: 0 8px;
  color: #1FB6FF;
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 999px) {
  .available--box span {
    padding: 14px 16px;
    margin: 0 4px 8px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .available--box span {
    padding: 14px 16px;
    margin: 0 4px;
    font-size: 18px;
    line-height: 20px;
  }
}
.map {
  padding: 0 0 145px;
}
@media (max-width: 767px) {
  .map {
    padding: 0 0 64px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .map {
    padding: 0 0 65px;
  }
}
.map--title {
  margin: 0 0 11px;
  text-align: center;
  color: #766F89;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}
.map--title i {
  font-style: normal;
  margin: 0 11px;
}
.map--title span {
  color: #1B1038;
}
.map--text {
  text-align: center;
  opacity: .60;
  margin: 0 0 62px;
  font-size: 20px;
  line-height: 32px;
}
.map--wrap {
  *zoom: 1;
}
.map--wrap:after {
  clear: both;
}
.map--wrap:before,
.map--wrap:after {
  content: " ";
  display: table;
}
.map--tabs {
  float: left;
  width: 354px;
  height: auto;
}
@media (max-width: 767px) {
  .map--tabs {
    float: none;
    padding: 0 36px;
    white-space: nowrap;
    overflow-x: auto;
    margin: 0 -28px 25px;
    -webkit-overflow-scrolling: touch;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .map--tabs {
    float: none;
    padding: 0 0 40px;
    *zoom: 1;
    width: auto;
    height: auto;
  }
  .map--tabs:after {
    clear: both;
  }
  .map--tabs:before,
  .map--tabs:after {
    content: " ";
    display: table;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .map--tabs {
    width: 340px;
    height: auto;
  }
}
.map--tab {
  padding: 13px 0 13px 56px;
  margin: 0 0 9px;
  opacity: .50;
  color: #1B1038;
  text-decoration: none;
  -webkit-transition: 200ms opacity ease,
					200ms color ease;
  -o-transition: 200ms opacity ease,
					200ms color ease;
  transition: 200ms opacity ease,
					200ms color ease;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 0;
  line-height: 0;
}
@media (max-width: 767px) {
  .map--tab {
    margin: 0 24px 0 0;
    display: inline-block;
    vertical-align: top;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .map--tab {
    float: left;
    margin: 0 0 20px 69px;
    width: -webkit-calc(50% - 69px);
    width: calc(50% - 69px);
    height: auto;
  }
  .map--tab:nth-child(2n+2) {
    margin-left: 26px!important;
    width: -webkit-calc(50% - 26px);
    width: calc(50% - 26px);
    height: auto;
  }
}
.map--tab:before {
  content: "";
  background: #1FB6FF;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 200ms width ease,
						200ms height ease;
  -o-transition: 200ms width ease,
						200ms height ease;
  transition: 200ms width ease,
						200ms height ease;
  display: block;
  position: absolute;
  top: 35px;
  right: auto;
  bottom: auto;
  left: 16px;
  width: 0;
  height: 0;
}
.map--tab:last-child {
  margin: 0;
}
.map--tab span {
  -webkit-transition: 200ms padding ease;
  -o-transition: 200ms padding ease;
  transition: 200ms padding ease;
  margin: 0 0 2px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.map--tab span:before {
  content: "";
  background: #1FB6FF;
  -webkit-transition: 200ms width ease;
  -o-transition: 200ms width ease;
  transition: 200ms width ease;
  display: block;
  position: absolute;
  top: 11px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 2px;
}
.map--tab small {
  opacity: .60;
  margin: 0 13px 0 0;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.map--tab small:last-child {
  margin: 0;
}
.map--tab:hover {
  opacity: 1;
}
.map--tab.is-active {
  color: #1FB6FF;
  opacity: 1;
  cursor: default;
}
.map--tab.is-active:before {
  width: 48px;
  height: 48px;
}
.map--tab.is-active span {
  padding: 0 0 0 28px;
}
.map--tab.is-active span:before {
  width: 20px;
  height: 2px;
}
.map--icon svg {
  margin: 0;
  display: block;
}
.map--icon svg .fillWhite {
  fill: #ffffff;
}
.map--icon svg .fillPurple {
  fill: #1B1038;
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
}
.map--icon.is-01 {
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 1px;
}
.map--icon.is-02 {
  position: absolute;
  top: 13px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--icon.is-03 {
  position: absolute;
  top: 19px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--icon.is-04 {
  position: absolute;
  top: 21px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--tab.is-active .map--icon svg .fillPurple {
  fill: #1FB6FF;
}
.map--form {
  margin: 25px 0 0;
}
@media (min-width: 768px) and (max-width: 999px) {
  .map--form {
    margin: 35px auto 0;
    width: 370px;
    height: auto;
  }
}
.map--boxes {
  float: right;
  z-index: 1;
  background: url(../img/map.png) center center no-repeat;
  background-image: -webkit-image-set(url(../img/map.png) 1x, url(../img/map@2x.png) 2x);
  -webkit-background-size: cover;
  background-size: cover;
  width: 696px;
  height: 391px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 767px) {
  .map--boxes {
    margin: 0 -28px;
    float: none;
    width: auto;
    height: 391px;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .map--boxes {
    float: none;
    width: 100%;
    height: 370px;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .map--boxes {
    width: 560px;
    height: 391px;
  }
}
.map--box {
  opacity: 0;
  -webkit-transition: 400ms opacity ease;
  -o-transition: 400ms opacity ease;
  transition: 400ms opacity ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.map--box.is-shown {
  opacity: 1;
}
.map--dot {
  background: #1FB6FF;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 29px;
  border-radius: 29px;
  padding: 7px 0 0;
  margin: -14px 0 0 -14px;
  -webkit-transition: 400ms -webkit-transform ease;
  transition: 400ms -webkit-transform ease;
  -o-transition: 400ms transform ease;
  transition: 400ms transform ease;
  transition: 400ms transform ease, 400ms -webkit-transform ease;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  width: 29px;
  height: 29px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.map--dot.is-large {
  -webkit-border-radius: 58px;
  border-radius: 58px;
  padding: 16px 0 0;
  margin: -29px 0 0 -29px;
  width: 58px;
  height: 58px;
  font-size: 24px;
  line-height: 29px;
}
.map--box.is-shown .map--dot {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.logotypes {
  padding: 0 0 77px;
}
.logotypes--grid {
  text-align: center;
  margin: 0 0 21px;
  font-size: 0;
  line-height: 0;
}
.logotypes--item {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #D8D8D8;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top;
  width: 152px;
  height: 62px;
}
@media (min-width: 768px) and (max-width: 999px) {
  .logotypes--item {
    margin: 0 10px;
    width: 120px;
    height: 49px;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .logotypes--item {
    margin: 0 10px;
  }
}
.logotypes--item:first-child {
  margin-left: 0;
}
.logotypes--item:last-child {
  margin-right: 0;
}
.logotypes--labels {
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.logotypes--label {
  margin: 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: .50;
  display: inline-block;
  vertical-align: top;
  width: 152px;
  height: auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 999px) {
  .logotypes--label {
    margin: 0 10px;
    width: 120px;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .logotypes--label {
    margin: 0 10px;
  }
}
.logotypes--label:first-child {
  margin-left: 0;
}
.logotypes--label:last-child {
  margin-right: 0;
}
.logotypes--label.is-full {
  width: 344px;
  height: auto;
}
@media (min-width: 768px) and (max-width: 999px) {
  .logotypes--label.is-full {
    width: 260px;
    height: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .logotypes--label.is-full {
    width: 324px;
    height: auto;
  }
}
.explore {
  background: #1FB6FF;
  color: #ffffff;
  padding: 99px 0 97px;
}
@media (max-width: 767px) {
  .explore {
    padding: 56px 0 56px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .explore {
    padding: 70px 0;
  }
}
.explore--title {
  margin: 0 0 22px;
  text-align: center;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .explore--title {
    margin: 0 0 48px;
    font-size: 24px;
    line-height: 32px;
  }
}
.explore--text {
  text-align: center;
  margin: 0 0 42px;
  font-size: 20px;
  line-height: 20px;
}
.explore--form {
  margin: 0 auto;
  width: 395px;
  height: auto;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-ib,
.visible-sm-ib,
.visible-md-ib,
.visible-lg-ib {
  display: none;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }
  .visible-xs-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 999px) {
  .visible-sm {
    display: block;
  }
  .visible-sm-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1000px) and (max-width: 1171px) {
  .visible-md {
    display: block;
  }
  .visible-md-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1172px) {
  .visible-lg {
    display: block;
  }
  .visible-lg-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-lg {
    display: none !important;
  }
}
