/* Сбрасываем значения по умолчанию для элементов | Let's default this puppy out
-------------------------------------------------------------------------------*/
@import "../fonts/apercupro/style.css";
@import "../fonts/icomoon/style.css";
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
header,
section,
footer {
  clear: both;
}
/* Всегда показывать полосу прокрутки (чтобы сайт не прыгал, когда на других страницах нет данной полосы) */
html {
  overflow-y: scroll;
}
/* Добавляем буллеты к UL и цифры к OL, т.к. в контенте могут использоваться стандартные списки */
ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px;
}
ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
td img {
  vertical-align: top;
}
/* Сбрасываем отступы у элементов форм */
button,
input,
select,
textarea {
  margin: 0;
  outline: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input,
select {
  vertical-align: middle;
}
input[type=radio],
input[type=checkbox] {
  margin: 1px 4px 4px 0;
}
input[type=text],
input[type=password] {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  resize: vertical;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
/* Решение проблемы с обрезанием стилизованных кнопок в IE */
button,
input[type=submit] {
  width: auto;
  overflow: visible;
}
.ie7 input[type=submit],
.ie7 input[type=reset],
.ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000);
}
/* Курсор-указатель на кликабельных элементах */
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}
/* Стандартизируем моноширные элементы */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
html {
  min-width: auto;
  width: auto;
  height: 100%;
}
body {
  font: normal normal 14px/20px 'ApercuPro', arial, sans-serif;
  background: #ffffff;
  color: #1B1038;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
body input,
body textarea,
body button {
  font-family: 'ApercuPro', arial, sans-serif;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 1172px;
  height: auto;
  min-width: 320px;
  min-height: initial;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    padding: 0 35px;
    width: 768px;
    height: auto;
  }
}
@media (min-width: 960px) and (max-width: 1171px) {
  .container {
    width: 960px;
    height: auto;
  }
}
.btn {
  border: none;
  text-decoration: none;
  background: #6B50FF;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 16px;
  -webkit-transition: 200ms background ease, 200ms -webkit-box-shadow ease;
  transition: 200ms background ease, 200ms -webkit-box-shadow ease;
  -o-transition: 200ms box-shadow ease, 200ms background ease;
  transition: 200ms box-shadow ease, 200ms background ease;
  transition: 200ms box-shadow ease, 200ms background ease, 200ms -webkit-box-shadow ease;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 40px;
}
.btn:hover {
  background: #462BD9;
  -webkit-box-shadow: 0 6px 24px rgba(107, 80, 255, 0.2);
  box-shadow: 0 6px 24px rgba(107, 80, 255, 0.2);
}
.btn-outline {
  border: 1px solid rgba(255, 255, 255, 0.7);
  text-decoration: none;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 18px;
  -webkit-transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  -o-transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  transition: 200ms border ease,
				200ms color ease,
				200ms background ease;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 38px;
}
.btn-outline:hover {
  background: #ffffff;
  color: #6B50FF;
  border-color: #ffffff;
}
.header {
  padding: 24px 0;
}
.header--in {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  *zoom: 1;
}
.header--in:after {
  clear: both;
}
.header--in:before,
.header--in:after {
  content: " ";
  display: table;
}
.header--logo {
  float: left;
  padding: 7px 0 12px;
  display: block;
}
.header--logo img {
  display: block;
  width: 88px;
  height: 21px;
}
.header--open {
  display: none;
}
@media (max-width: 767px) {
  .header--open {
    display: block;
  }
}
.header--nav {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
}
@media (max-width: 767px) {
  .header--nav {
    display: none;
  }
}
.header--list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.header--item {
  margin: 0 12px;
  display: inline-block;
  vertical-align: top;
}
.header--item a {
  color: #1B1038;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 40px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.header--item a:before {
  content: "";
  background: #1B1038;
  -webkit-transition: 200ms width ease;
  -o-transition: 200ms width ease;
  transition: 200ms width ease;
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 7px;
  left: 0;
  width: 0;
  height: 1px;
}
.header--item a:hover:before {
  width: 34px;
  height: 1px;
}
.header--item.is-active a {
  color: #6B50FF;
}
.header--item.is-active a:before {
  background: #6B50FF;
  width: 34px;
  height: 1px;
}
.header--btn {
  float: right;
}
@media (max-width: 959px) {
  .header--btn {
    display: none;
  }
}
.menu {
  display: none;
}
@media (min-width: 768px) {
  .menu {
    display: none !important;
  }
}
.footer {
  padding: 24px 0;
}
.footer--in {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  *zoom: 1;
}
.footer--in:after {
  clear: both;
}
.footer--in:before,
.footer--in:after {
  content: " ";
  display: table;
}
.footer--logo {
  float: left;
  padding: 7px 0 12px;
  display: block;
}
@media (min-width: 768px) and (max-width: 959px) {
  .footer--logo {
    display: none;
  }
}
.footer--logo img {
  display: block;
  width: 88px;
  height: 21px;
}
.footer--nav {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: 50%;
}
.footer--list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  line-height: 0;
}
.footer--item {
  margin: 0 12px;
  display: inline-block;
  vertical-align: top;
}
.footer--item a {
  color: #1B1038;
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 40px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.footer--item a:before {
  content: "";
  background: #1B1038;
  -webkit-transition: 200ms width ease;
  -o-transition: 200ms width ease;
  transition: 200ms width ease;
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: 7px;
  left: 0;
  width: 0;
  height: 1px;
}
.footer--item a:hover:before {
  width: 34px;
  height: 1px;
}
.footer--item.is-active a {
  color: #6B50FF;
}
.footer--item.is-active a:before {
  background: #6B50FF;
  width: 34px;
  height: 1px;
}
.footer--btn {
  float: right;
}
.intro {
  padding: 48px 0 107px;
}
.intro--title {
  text-align: center;
  margin: 0 0 26px;
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}
.intro--text {
  text-align: center;
  opacity: .60;
  margin: 0 0 38px;
  font-size: 20px;
  line-height: 24px;
}
.intro--form {
  margin: 0 auto 61px;
  width: 386px;
  height: auto;
}
.intro--illustration {
  background: lightgrey;
  width: auto;
  height: 266px;
}
.form {
  *zoom: 1;
}
.form:after {
  clear: both;
}
.form:before,
.form:after {
  content: " ";
  display: table;
}
.form--input {
  float: left;
  border: 1px solid rgba(27, 16, 56, 0.25);
  border-right: none;
  -webkit-border-radius: 4px 0 0 4px!important;
  border-radius: 4px 0 0 4px!important;
  padding: 0 15px;
  display: block;
  width: -webkit-calc(100% - 145px);
  width: calc(100% - 145px);
  height: 48px;
  font-size: 16px;
  line-height: 46px;
}
.form--submit {
  float: right;
  border: none;
  background: #6B50FF;
  color: #ffffff;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  text-align: center;
  -webkit-transition: 200ms background ease;
  -o-transition: 200ms background ease;
  transition: 200ms background ease;
  width: 145px;
  height: 48px;
  display: block;
  font-size: 16px;
  line-height: 48px;
}
.form--submit:hover {
  background: #462BD9;
}
.map {
  padding: 0 0 89px;
}
.map--in {
  margin: 0 auto 100px;
  text-align: center;
  max-width: 520px;
  max-height: initial;
}
.map--title {
  margin: 0 0 21px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
.map--text {
  opacity: .60;
  font-size: 20px;
  line-height: 32px;
}
.map--wrap {
  *zoom: 1;
}
.map--wrap:after {
  clear: both;
}
.map--wrap:before,
.map--wrap:after {
  content: " ";
  display: table;
}
.map--tabs {
  float: left;
  padding: 43px 0 0;
}
.map--tab {
  padding: 15px 0 15px 56px;
  margin: 0 0 5px;
  opacity: .50;
  color: #1B1038;
  text-decoration: none;
  -webkit-transition: 200ms opacity ease,
					200ms color ease;
  -o-transition: 200ms opacity ease,
					200ms color ease;
  transition: 200ms opacity ease,
					200ms color ease;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 0;
  line-height: 0;
}
.map--tab:before {
  content: "";
  background: #6B50FF;
  -webkit-border-radius: 48px;
  border-radius: 48px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 200ms width ease,
						200ms height ease;
  -o-transition: 200ms width ease,
						200ms height ease;
  transition: 200ms width ease,
						200ms height ease;
  display: block;
  position: absolute;
  top: 37px;
  right: auto;
  bottom: auto;
  left: 16px;
  width: 0;
  height: 0;
}
.map--tab:last-child {
  margin: 0;
}
.map--tab span {
  -webkit-transition: 200ms padding ease;
  -o-transition: 200ms padding ease;
  transition: 200ms padding ease;
  margin: 0 0 2px;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.map--tab span:before {
  content: "";
  background: #6B50FF;
  -webkit-transition: 200ms width ease;
  -o-transition: 200ms width ease;
  transition: 200ms width ease;
  display: block;
  position: absolute;
  top: 11px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 2px;
}
.map--tab small {
  opacity: .60;
  margin: 0 13px 0 0;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
}
.map--tab small:last-child {
  margin: 0;
}
.map--tab:hover {
  opacity: 1;
}
.map--tab.is-active {
  color: #6B50FF;
  opacity: 1;
  cursor: default;
}
.map--tab.is-active:before {
  width: 48px;
  height: 48px;
}
.map--tab.is-active span {
  padding: 0 0 0 28px;
}
.map--tab.is-active span:before {
  width: 20px;
  height: 2px;
}
.map--icon svg {
  margin: 0;
  -webkit-transition: 200ms -webkit-transform ease;
  transition: 200ms -webkit-transform ease;
  -o-transition: 200ms transform ease;
  transition: 200ms transform ease;
  transition: 200ms transform ease, 200ms -webkit-transform ease;
  display: block;
}
.map--icon svg .fillWhite {
  fill: #ffffff;
}
.map--icon svg .fillPurple {
  fill: #1B1038;
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
}
.map--icon.is-01 {
  position: absolute;
  top: 2px;
  right: auto;
  bottom: auto;
  left: 1px;
}
.map--icon.is-02 {
  position: absolute;
  top: 15px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--icon.is-03 {
  position: absolute;
  top: 21px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--icon.is-04 {
  position: absolute;
  top: 23px;
  right: auto;
  bottom: auto;
  left: 0;
}
.map--tab.is-active .map--icon svg {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.map--tab.is-active .map--icon svg .fillPurple {
  fill: #6B50FF;
}
.map--boxes {
  float: right;
  width: 728px;
  height: auto;
}
.map--box {
  background: lightgrey;
  display: none;
  width: auto;
  height: 391px;
}
.map--box.is-shown {
  display: block;
}
.more {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 0 105px;
  *zoom: 1;
}
.more:after {
  clear: both;
}
.more:before,
.more:after {
  content: " ";
  display: table;
}
.more--in {
  float: left;
  padding: 2px 0 0;
  width: 435px;
  height: auto;
}
.more--title {
  margin: 0 0 21px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
.more--text {
  opacity: .60;
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 32px;
}
.more--form {
  width: 386px;
  height: auto;
}
.more--counters {
  float: right;
  margin: 0 0 0 40px;
  width: 248px;
  height: auto;
}
.more--counter {
  opacity: .70;
  margin: 0 0 23px;
  font-size: 14px;
  line-height: 18px;
}
.more--counter:last-child {
  margin: 0;
}
.platform {
  padding: 107px 0 39px;
}
.platform--in {
  text-align: center;
  margin: 0 auto 103px;
  max-width: 520px;
  max-height: initial;
}
.platform--title {
  margin: 0 0 21px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
}
.platform--text {
  opacity: .60;
  font-size: 20px;
  line-height: 32px;
}
.platform--grid {
  margin: 0 -20px;
  font-size: 0;
  line-height: 0;
}
.platform--item {
  padding: 0 20px 65px;
  width: 33.33333333%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.feature--icon {
  margin: 0 0 23px;
  color: #6B50FF;
}
.feature--icon i {
  display: block;
}
.feature--icon i.icon-feature-01 {
  font-size: 21px;
  line-height: 23px;
}
.feature--icon i.icon-feature-02 {
  font-size: 19px;
  line-height: 23px;
}
.feature--icon i.icon-feature-03 {
  font-size: 21px;
  line-height: 23px;
}
.feature--icon i.icon-feature-04 {
  font-size: 23px;
  line-height: 23px;
}
.feature--icon i.icon-feature-05 {
  font-size: 23px;
  line-height: 23px;
}
.feature--icon i.icon-feature-06 {
  font-size: 19px;
  line-height: 23px;
}
.feature--title {
  margin: 0 0 12px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.feature--text {
  opacity: .60;
  font-size: 16px;
  line-height: 28px;
}
.explore {
  background: #6B50FF;
  color: #ffffff;
  padding: 92px 0 114px;
}
.explore--title {
  margin: 0 0 36px;
  font-size: 36px;
  line-height: 43px;
}
.explore--in {
  *zoom: 1;
}
.explore--in:after {
  clear: both;
}
.explore--in:before,
.explore--in:after {
  content: " ";
  display: table;
}
.explore--col {
  float: left;
  width: 384px;
  height: auto;
}
.explore--subtitle {
  margin: 0 0 9px;
  font-size: 20px;
  line-height: 32px;
}
.explore--link {
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 200ms color ease;
  -o-transition: 200ms color ease;
  transition: 200ms color ease;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
.explore--link:before {
  content: "";
  background: #ffffff;
  -webkit-transition: 200ms width ease;
  -o-transition: 200ms width ease;
  transition: 200ms width ease;
  display: block;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
}
.explore--link:hover {
  color: #ffffff;
}
.explore--link:hover:before {
  width: 64px;
  height: 1px;
}
.explore--btn {
  float: left;
  margin: 4px 0 0 27px;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-ib,
.visible-sm-ib,
.visible-md-ib,
.visible-lg-ib {
  display: none;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block;
  }
  .visible-xs-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .visible-sm {
    display: block;
  }
  .visible-sm-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 960px) and (max-width: 1171px) {
  .visible-md {
    display: block;
  }
  .visible-md-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1172px) {
  .visible-lg {
    display: block;
  }
  .visible-lg-ib {
    display: inline-block;
    vertical-align: top;
  }
  .hidden-lg {
    display: none !important;
  }
}
