-
	meta = {
		title: 'Openland – About',
		description: 'Openland is a San Francisco-based real estate technology startup making it easier to acquire land for new construction. The company was founded in 2017 and is a graduate of YCombinartor’s Winter 2018 class.',

		og: {
			title: 'Openland – About',
			url: 'https://openland.com/about',
			description: 'Openland is a San Francisco-based real estate technology startup making it easier to acquire land for new construction. The company was founded in 2017 and is a graduate of YCombinartor’s Winter 2018 class.',
			image: 'https://openland.com/img/og-messenger-2.png'
		}
	}

include ./_components.jade

+page (meta, 2)
	.container: .about
		.about--row
			.about--label About Openland
			.about--box: .about--text: p Openland is&nbsp;a&nbsp;San Francisco-based real estate technology startup. It&nbsp;provides professional messaging service to&nbsp;connect owners, builders, tenants, lenders, investors, brokers, and local officials. Openland messaging apps are used for market research, deal sourcing, and transaction management. The company was founded in&nbsp;2017, went through YCombinartor in&nbsp;Winter 2018, and is&nbsp;backed by&nbsp;a&nbsp;broad group of&nbsp;top-tier venture investors.

		.about--row
			.about--label Founders
			.about--box: .members
				+member ('/img/yury.png', 'Yury Lifshits', 'CEO', 'https://www.linkedin.com/in/lifshits/', 'yury@openland.com')
				+member ('/img/steve.png', 'Steve Korshakov', 'CTO', 'https://www.linkedin.com/in/ex3ndr/', 'steve@openland.com')

		.about--row
			.about--label Open positions
				.about--info Up-to-date opportunities are posted at&nbsp;#[a(href=links.careers) angel.co]

			.about--box
				.about--additional If&nbsp;you don&rsquo;t see a&nbsp;matching opening for you or&nbsp;just want to&nbsp;say "Hi"#[br.hidden-xs] please reach&nbsp;us at&nbsp;#[a(href=mailTo)= mail]