-
	meta = {
		title: 'Openland · About',
		description: 'Openland is a professional messenger designed to support all communication needs of a modern business. It can be used for fundraising, sales, recruiting, customer service, and business operations. The company is backed by 30 prominent venture investors, including Y Combinator, Gagarin Capital, Sinai Ventures, Soma Capital, Liquid 2 Ventures, and Rainfall Ventures.',

		og: {
			title: 'Openland · About',
			url: 'https://openland.com/about',
			description: 'Openland is a professional messenger designed to support all communication needs of a modern business. It can be used for fundraising, sales, recruiting, customer service, and business operations. The company is backed by 30 prominent venture investors, including Y Combinator, Gagarin Capital, Sinai Ventures, Soma Capital, Liquid 2 Ventures, and Rainfall Ventures.',
			image: 'https://openland.com/img/og-messenger-5.png'
		}
	}

include ./_components.jade

+page (meta, 2)
	.container: .about
		.about--row
			.about--label About Openland
			.about--box: .about--text: p Openland is&nbsp;a&nbsp;professional messenger designed to&nbsp;support all communication needs of&nbsp;a&nbsp;modern business. It&nbsp;can be&nbsp;used for fundraising, sales, recruiting, customer service, and business operations. The company was founded in&nbsp;2017 and is&nbsp;based in&nbsp;San Francisco. Openland is&nbsp;backed by&nbsp;30&nbsp;prominent venture investors, including Y&nbsp;Combinator, Gagarin Capital, Sinai Ventures, Soma Capital, Liquid 2&nbsp;Ventures, and Rainfall Ventures.

		.about--row
			.about--label Founders
			.about--box: .members
				+member ('/img/yury.png', 'Yury Lifshits', 'CEO', 'https://www.linkedin.com/in/lifshits/', 'yury@openland.com')
				+member ('/img/steve.png', 'Steve Korshakov', 'CTO', 'https://www.linkedin.com/in/ex3ndr/', 'steve@openland.com')

		.about--row
			.about--label Open positions
				.about--info Up-to-date opportunities are posted at&nbsp;#[a(href=links.careers) angel.co]

			.about--box
				.about--additional If&nbsp;you don&rsquo;t see a&nbsp;matching opening for you or&nbsp;just want to&nbsp;say "Hi"#[br.hidden-xs] please reach&nbsp;us at&nbsp;#[a(href=mailTo)= mail]