- var email = 'hello@statecraft.one'
- var call = 'https://cal.mixmax.com/yurylifshits/30'

include ./_components.jade

doctype html
html
	head
		meta(charset="utf-8")
		title San Francisco Land Inventory

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		meta(property="og:title" content="San Francisco Land Inventory")
		meta(property="og:url" content="https://statecrafthq.com/land")
		meta(property="og:description" content="Explore development capacity of the city, parcel by parcel")
		meta(property="og:image" content="https://statecrafthq.com/land/img/statecraft-land-og.png")

		link(rel="shortcut icon" href="favicon.ico")
		link(rel="icon" href="favicon.png")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="js/scripts.js")

	body
		header.header&attributes(attributes): .container: .header--in
			a(href="#").header--logo: img(src="img/logotype.svg" alt="")
			a(href="#").header--open

			nav.header--nav: ul.header--list
				li.header--item.is-active: a(href="#") Builders
				li.header--item: a(href="#") Owners
				li.header--item: a(href="#") Cities
				li.header--item: a(href="#") Nonprofits

			.header--btn: a(href="#").btn See demo

			a(href="#").header--auth Sign in

		.menu
			a(href="#").menu--close

			.menu--in: .container
				ul.menu--list
					li.menu--item.is-active: a(href="#") Builders
					li.menu--item: a(href="#") Owners
					li.menu--item: a(href="#") Cities
					li.menu--item: a(href="#") Nonprofits

				+form ('Request a demo').is-light

		.page: .container
			.intro
				.intro--title Land acquisition at scale
				.intro--text Accelerate every step of your process
				.intro--form: +form ('Request a demo')

			.features
				.features--text Openland is created for ambitious builders who want to buy more, faster#[br] using one integrated system
				.features--grid
					.features--item item
					.features--item item
					.features--item item
					.features--item item

			.available
				.available--title Available integrations
				.available--in: .available--box
					span UI Census
					span Permit history
					span Tax assestments
					span Zoning
					span Satellite maps
					span Street view
					span Transit maps

			.map
				.map--title Openland in action#[i »]#[span San Francisco Land Inventory]
				.map--text Something related to Openland land acquisition
				.map--wrap
					.map--tabs
						+map--tab (1, 'Tower', '15', '468').is-active
						+map--tab (2, 'Large Multi-Family', '15', '468')
						+map--tab (3, 'Small Multi-Family', '15', '468')
						+map--tab (4, 'Auxiliary Dwelling Units', '15', '468')

						.map--form: +form ('Request access')

					.map--boxes
						.map--box.is-shown
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

						.map--box
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

			.logotypes
				.logotypes--grid
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")
					.logotypes--item: img(src="#" alt="")

				.logotypes--labels
					.logotypes--label.is-full Press
					.logotypes--label.is-full Featured customers
					.logotypes--label Investors

		.explore: .container
			.explore--title Accelerate your land acquisition process
			.explore--text Accelerate every step of your process (TBD)
			.explore--form: +form ('Request a demo').is-light

		footer.footer&attributes(attributes): .container: .footer--in
			a(href="#").footer--logo: img(src="img/logotype.svg" alt="")

			nav.footer--nav: ul.footer--list
				li.footer--item: a(href="#") hello@openland.com
				li.footer--item: a(href="#") +1 415 636 7663

			.footer--socials
				a(href="#").footer--social: i.icon-lin
				a(href="#").footer--social: i.icon-tw
				a(href="#").footer--social: i.icon-fb

		// Global site tag (gtag.js) - Google Analytics
		//script(async src="https://www.googletagmanager.com/gtag/js?id=UA-99506931-2")
		//script.
		//	window.dataLayer = window.dataLayer || [];
		//	function gtag(){dataLayer.push(arguments);}
		//	gtag('js', new Date());

		//	gtag('config', 'UA-99506931-2');