-
	meta = {
		title: 'Openland — Professional messenger for real estate',
		description: 'An instant messaging service for market research, deal sourcing, and transaction management in real estate.',

		og: {
			title: 'Openland — Professional messenger for real estate',
			url: 'https://openland.com/',
			description: 'An instant messaging service for market research, deal sourcing, and transaction management in real estate.',
			image: 'https://openland.com/img/og-messenger-2.png'
		}
	}

include ./_components.jade

+page (meta, 1)
	.container
		.intro.is-messenger
			.intro--title Professional Messenger for&nbsp;Real&nbsp;Estate
			.intro--text A&nbsp;fast and easy way to&nbsp;do&nbsp;market research, source deals, and work on&nbsp;transactions
			.intro--form: +signup

		.messenger
			+messenger--item (1, 'Channels', 'Invite-only communities to&nbsp;share insider knowledge and market data')
			+messenger--item (2, 'Listings', 'The easiest way to&nbsp;publish, distribute, and discover opportunities')
			+messenger--item (3, 'Chats', 'Cross-organization chats to&nbsp;qualify opportunities and work on&nbsp;deals')

		.channels
			.channels--title Featured channels
			.channels--items
				.channels--item Retail conversion
				.channels--item Government incentives
				.channels--item Portfolio deals
				.channels--item Data and analytics
				.channels--item Foreign investment
				.channels--item Build-to-suit development
				.channels--item Joint ventures
				.channels--item Master-planned communities
				.channels--item Non-traditional financing
				.channels--item Instant acquisitions
				.channels--item Prefab construction
				.channels--item New infrastructure

	.try: .container: .try--box
		.try--title Ready to try Openland?
		.try--features #[span Share data]#[span Source opportunities]#[span Close deals]
		.try--btn: a(href=links.signup).btn.is-block.is-blue Sign up for free