include ./_components.jade

doctype html
html
	+head ('Statecraft')
		//meta(property="og:title" content="Statecraft » Analytics solutions for local governments")/
		//meta(property="og:url" content="https://statecraft.one")/
		//meta(property="og:description" content="We help local governments use data to solve critical problems.")/
		//meta(property="og:image" content="https://statecraft.one/img/statecraft-square.png")/
		//meta(name="google-site-verification" content="daI_aYpVVCN6kKDwmz1C3ZKIdS1eYA2f4xIoUGe9Vpk")/

	body
		+header

		.container Font test

		+footer
		+google-analytics