-
	meta = {
		title: 'Openland — Professional messenger for real estate',
		description: 'An instant messaging service for market research, deal sourcing, and transaction management in real estate.',

		og: {
			title: 'Openland — Professional messenger for real estate',
			url: 'https://openland.com/',
			description: 'An instant messaging service for market research, deal sourcing, and transaction management in real estate.',
			image: 'https://openland.com/img/og-messenger-2.png'
		}
	}

include ./_components.jade

+page (meta, 1)
	.intro: .container
		.intro--title Silicon Valley&rsquo;s Next Messenger
		.intro--text A&nbsp;better way to&nbsp;work with people outside of&nbsp;your organization
		.intro--form: +signup
		.intro--label Openland is&nbsp;in&nbsp;limited preview release. Sign up&nbsp;to&nbsp;get your invitation.

	.container
		.tasks
			.tasks--title Perfect for most frequent communication tasks
			.tasks--items
				.tasks--item Advice
				.tasks--item User research
				.tasks--item Fundraising
				.tasks--item Recruiting
				.tasks--item Sales
				.tasks--item Marketing
				.tasks--item Customer success
				.tasks--item Vendor relations

		.tools
			.tools--title A&nbsp;simple and elegant system of&nbsp;tools
			.tools--wrapper
				.tools--items
					.tools--item.is-i01 #[span Professional identity]One account everywhere
					.tools--item.is-i02 #[span Connections you need]Intros and invitations to&nbsp;expand your network
					.tools--item.is-i03 #[span Fast, expressive writing]Keyboard shortcuts and stickers
					.tools--item.is-i04 #[span Chat rooms for every purpose]Instant workspaces without team borders

				.tools--photo

	.access: .container: .access--box
		.access--title Get early access to&nbsp;Openland Messenger
		.access--text Join founders, investors, and experts from 1000+ organizations
		.access--btn: a(href=links.signup).btn.is-block.is-blue Sign up for free