- var email = 'hello@statecraft.one'
- var call = 'https://cal.mixmax.com/yurylifshits/30'

include ./_components.jade

doctype html
html
	head
		meta(charset="utf-8")
		title San Francisco Land Inventory

		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="format-detection" content="telephone=no")

		meta(property="og:title" content="San Francisco Land Inventory")
		meta(property="og:url" content="https://statecrafthq.com/land")
		meta(property="og:description" content="Explore development capacity of the city, parcel by parcel")
		meta(property="og:image" content="https://statecrafthq.com/land/img/statecraft-land-og.png")

		link(rel="shortcut icon" href="favicon.ico")
		link(rel="icon" href="favicon.png")

		link(rel="stylesheet" type="text/css" href="css/style.css")

		script(type="text/javascript" src="js/jquery-1.11.1.min.js")

		script(type="text/javascript" src="js/scripts.js")

	body
		header.header&attributes(attributes): .container: .header--in
			a(href="#").header--logo: img(src="img/logotype.svg" alt="")
			a(href="#").header--open

			nav.header--nav: ul.header--list
				li.header--item.is-active: a(href="#") Land
				li.header--item: a(href="#") Housing insights
				li.header--item: a(href="#") Construction
				li.header--item: a(href="#") Permits
				li.header--item: a(href="#") Organizations

			.header--btn: a(href="#requestAccess").btn.js-modal Request access

		.menu
			a(href="#").menu--close
			ul.menu--list
				li.header--item.is-active: a(href="#") Land
				li.header--item: a(href="#") Housing insights
				li.header--item: a(href="#") Construction
				li.header--item: a(href="#") Permits
				li.header--item: a(href="#") Organizations

			form(method="POST" action="").menu--form
				input(type="text" placeholder="E-mail").menu--input
				button(type="submit").menu--submit Request access

		.page: .container
			.intro
				.intro--title San Francisco#[br] Land Inventory
				.intro--text Explore development capacity of the city
				.intro--form: +form
				.intro--illustration
					.intro--image.is-buildings: img(src="img/buildings.png" srcset="img/buildings@2x.png 2x" alt="")
					.intro--image.is-clouds: img(src="img/clouds.png" srcset="img/clouds@2x.png 2x" alt="")

			.map
				.map--in
					.map--title We are good at city researches
					.map--text Something related to our research and map section that showcases our main feature — getting insights

				.map--wrap
					.map--tabs
						+map--tab (1, 'Tower', '15', '468').is-active
						+map--tab (2, 'Large Multi-Family', '15', '468')
						+map--tab (3, 'Small Multi-Family', '15', '468')
						+map--tab (4, 'Auxiliary Dwelling Units', '15', '468')

					.map--boxes
						.map--box.is-shown
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

						.map--box
							.map--dot(style="top: 19%; left: 58%") 10
							.map--dot(style="top: 24%; left: 42%") 17
							.map--dot(style="top: 50%; left: 47%") 6
							.map--dot(style="top: 69%; left: 42%") 3
							.map--dot.is-large(style="top: 52%; left: 59%") 24

						.map--box
							.map--dot(style="top: 45%; left: 48%") 10
							.map--dot(style="top: 34%; left: 32%") 17
							.map--dot(style="top: 60%; left: 547%") 6
							.map--dot(style="top: 79%; left: 32%") 3
							.map--dot.is-large(style="top: 72%; left: 69%") 24

			.more
				.more--in
					.more--title But wait, there’s more!
					.more--text We’ve already collected a bunch of useful and interesting housing insights, and we still are!
					.more--form: +form

				.more--counters.hidden-sm
					.more--counter BB empty lots with expired permits
					.more--counter GG lot merger candidate groups
					.more--counter YY large private parking lots
					.more--counter EE empty narrow lots that can fit a micro-unit
					.more--counter FF single story in medium density zones

				.more--counters
					.more--counter XX large public parking lots
					.more--counter AA backyards that can fit an ADU
					.more--counter CC two-story buildings in high-density zones
					.more--counter DD public storage in commercial streets
					.more--counter ZZ corner single story retail buildings

			.platform
				.platform--in
					.platform--title Statecraft land acquisition platform
					.platform--text Something related to Statecraft land acquisition platform — features and the way we deal with housing problems.

				.platform--grid
					.platform--item: +feature (1, 'Every parcel in the city', 'Something related to Statecraft land acquisition platform — features and the way we deal with housing problems.')
					.platform--item: +feature (2, 'Filter by size, location, zoning, current use, permit history', 'Something related to Statecraft land acquisition platform — features and the way')
					.platform--item: +feature (3, 'Filter by special attributes: expired permit, corner, narrow, empty', 'Something related to Statecraft land acquisition platform — features and the way')
					.platform--item: +feature (4, 'Geometric analysis and unit capacity', 'Something related to Statecraft land acquisition platform — features and the way we deal with housing problems.')
					.platform--item: +feature (5, 'Owner insights', 'Something related to Statecraft land acquisition platform — features and the way we deal with housing problems.')
					.platform--item: +feature (6, 'Land acquisition process automation', 'Something related to Statecraft land acquisition platform — features and the way we deal with housing problems.')

		.explore: .container
			.explore--title Explore vacant and under-developed land in San Francisco
			.explore--in
				.explore--col
					.explore--subtitle Public and nonprofit organizations

					a(href='mailto:' + email).explore--link Contact us for free access

				.explore--col
					.explore--subtitle Builders, brokers, real estate investors

					a(href=call target="_blank").explore--link Schedule a demo

				.explore--btn: a(href='mailto:' + email).btn-outline= email

		footer.footer&attributes(attributes): .container: .footer--in
			a(href="#").footer--logo: img(src="img/logotype.svg" alt="")

			nav.footer--nav: ul.footer--list
				li.footer--item.is-active: a(href="#") Land
				li.footer--item: a(href="#") Housing insights
				li.footer--item: a(href="#") Construction
				li.footer--item: a(href="#") Permits
				li.footer--item: a(href="#") Organizations

			.footer--btn: a(href="#requestAccess").btn.js-modal Request access

		// Global site tag (gtag.js) - Google Analytics
		//script(async src="https://www.googletagmanager.com/gtag/js?id=UA-99506931-2")
		//script.
		//	window.dataLayer = window.dataLayer || [];
		//	function gtag(){dataLayer.push(arguments);}
		//	gtag('js', new Date());

		//	gtag('config', 'UA-99506931-2');