-
	meta = {
		title: 'Openland · A better way to work with people outside of your organization',
		description: 'Openland is a professional messenger built for productivity and speed. Create a profile, discover new connections, create chat rooms for every task, and get things done faster than ever before.',

		og: {
			title: 'Openland · A better way to work with people outside of your organization',
			url: 'https://openland.com/',
			description: 'Openland is a professional messenger built for productivity and speed. Create a profile, discover new connections, create chat rooms for every task, and get things done faster than ever before.',
			image: 'https://openland.com/img/og-messenger-4.jpg'
		}
	}

include ./_components.jade

+page (meta, 1)
	.intro: .container
		.intro--title Silicon Valley&rsquo;s Next Messenger
		.intro--text A&nbsp;better way to&nbsp;work with people outside of&nbsp;your organization
		.intro--form: +signup
		.intro--label Openland is&nbsp;in&nbsp;limited preview release.#[br.visible-xs] Sign up&nbsp;to&nbsp;get your invitation.

	.tasks: .container
		.tasks--title Perfect for most frequent communication tasks
		.tasks--items
			.tasks--item #[i.tasks-01]#[span Advice]
			.tasks--item #[i.tasks-02]#[span Fundraising]
			.tasks--item #[i.tasks-03]#[span Sales]
			.tasks--item #[i.tasks-04]#[span Customer service]
			.tasks--item #[i.tasks-05]#[span Recruiting]
			.tasks--item #[i.tasks-06]#[span Business operations]

	.tools: .container
		.tools--title.hidden-xs A&nbsp;simple and elegant system of&nbsp;tools
		.tools--title.visible-xs A&nbsp;simple and elegant system
		.tools--photo
		.tools--items
			.tools--item #[i.tools-01]#[span Professional identity]One account everywhere
			.tools--item #[i.tools-02]#[span Connections you need]Intros and invitations to&nbsp;expand your network
			.tools--item #[i.tools-03]#[span Fast, expressive writing]Keyboard shortcuts and stickers
			.tools--item #[i.tools-04]#[span Chat rooms for every purpose]Instant workspaces without team borders

	.access: .container: .access--box
		.access--title Get early access to&nbsp;Openland&nbsp;Messenger
		.access--text Join founders, investors, and experts from 1000+ organizations
		.access--btn: a(href=links.signup data-style="primary").btn.is-block Sign up for free