-
	meta = {
		title: 'Openland — A better way to do land acquisition',
		description: 'End-to-end service to organize your dealflow and get connected to more opportunities',

		og: {
			title: 'Openland — A better way to do land acquisition',
			url: 'https://openland.com/',
			description: 'End-to-end service to organize your dealflow and get connected to more opportunities',
			image: 'https://openland.com/img/og.png'
		}
	}

include ./_components.jade

+page (meta, 1)
	.container
		.intro
			.intro--title Discover qualified development opportunities
			.intro--text Join Openland for free to&nbsp;get a&nbsp;stream of&nbsp;new leads for your land acquisition process
			.intro--form: +signup
			.intro--illustration
				+intro--row (['Publicly owned land', 'Single story retail', 'Parking lot', 'Backyard', 'Recently-upzoned area'])

				.intro--image: img(src="/img/buildings-b.png" srcset="/img/buildings-b@2x.png 2x" alt="")

		.features
			+features--item ('feature-01.svg', 'Create Profile', 'Create a&nbsp;free Openland profile and enter your acquisition criteria')
			+features--item ('feature-02.svg', 'Follow', 'Discover and follow owners looking to&nbsp;sell their development sites')
			+features--item ('feature-03.svg', 'Get Notified', 'Get an&nbsp;alert for every opportunity that matches your criteria')