-
	meta = {
		title: 'Openland — A better way to do land acquisition',
		description: 'End-to-end service to organize your dealflow and get connected to more opportunities',

		og: {
			title: 'Openland — A better way to do land acquisition',
			url: 'https://openland.com/',
			description: 'End-to-end service to organize your dealflow and get connected to more opportunities',
			image: 'https://openland.com/img/og.png'
		}
	}

include ./_components.jade

+page (meta, 2)
	.container
		.intro.is-owners
			.intro--title Find the best development partners for your land
			.intro--text Join Openland for free to&nbsp;connect with qualified developers
			.intro--form: +signup
			.intro--illustration: .intro--image: img(src="/img/buildings-o.png" srcset="/img/buildings-o@2x.png 2x" alt="")

		.features
			+features--item ('feature-04.svg', 'Assess', 'Identify the best use of&nbsp;your site and evaluate the level of&nbsp;interest')
			+features--item ('feature-05.svg', 'Collect interest', 'Build a&nbsp;list of&nbsp;qualified developers in&nbsp;advance of&nbsp;formal offering')
			+features--item ('feature-06.svg', 'Connect', 'Distribute your offering and get in&nbsp;touch with real estate developers you choose').is-big