-
	meta = {
		title: 'Openland — A better way to do land acquisition',
		description: 'End-to-end service to organize your dealflow and get connected to more opportunities',

		og: {
			title: 'Openland — A better way to do land acquisition',
			url: 'https://openland.com/',
			description: 'End-to-end service to organize your dealflow and get connected to more opportunities',
			image: 'https://openland.com/img/og.png'
		}
	}

include ./_components.jade

+page (meta)
	.container: .content
		h1(align="center") Privacy Policy @ Openland
		p.is-intro(align="center") Effective Date — July 9, 2018

		h2 Welcome to Openland
		p Openland is committed to protect your privacy, as you use our service. We want you to understand how we use your personal information and how you can control it. All references to "we", "us", "our", or "Openland" refer to Data Makes Perfect Inc., a Delaware corporation operating openland.com website and associated information services.
		p By continuing to use Openland, you acknowledge that you have had the chance to review and consider this Privacy Policy, and you acknowledge that you agree to it. This means that you expressly give your consent for the use of your personal data and the methods of disclosure as described in this Privacy Policy. If you do not understand the Privacy Policy or do not agree to one or more provisions of this Privacy Policy, please immediately cease your use of Openland.

		h2 How we use your personal data
		p Your personal data is collected based one or several of the following requirements:
		ul
			li To manage your access to and use of Openland services
			li To provide customer support and improve the application
			li To provide product updates and inform you about features that you may be interested in 
			li To carry out customer management, including billing and contracts
			li To provide service use statistics and aggregate-level trends
			li To respect our legal and regulatory obligations

		h2 Accessing, updating, or removing your personal data
		p At any time, you may review or change the personal data in your Openland user settings. If you would like to delete your personal data entirely, please send us an email to #[a(href=mailTo)= mail]. Upon your request to terminate your user account, we will deactivate or delete your account and information from our active databases within a reasonable timeframe.

		h2 Recipients of the collected data
		p Only our employees and the services we use may have access to your personal data. As part of its functionality, Openland may utilize third party services, such as hosting services, analytics providers, communications services, and other vendors. We only share your information with third parties to the extent necessary for Openland service operations. We have no control over such third parties. Thus, we make no guarantees about, and assume no responsibility for the information, services, or privacy practices of these third-party service providers. Government agencies may also be recipients of your personal data, exclusively to meet legal obligations. We are not selling or leasing out your personal data to third parties.

		h2 Security
		p We use reasonable efforts and safeguards to secure your information and to attempt to prevent the loss, misuse, and alteration of the information that we obtain from you. In addition, we rely on the technical safeguards, provided by the third party vendors we use to host, store, and process your information. However, you acknowledge and agree that loss, misuse, and alteration may occur despite our efforts to protect your information. To the extent permitted by law, we are not responsible to our users or to any third party due to any such loss, misuse, or alteration.

		h2 Cookies
		p Openland uses cookies to deliver its services. Cookies are small files stored on your computer or mobile device which collect information about your browsing behavior. We use cookies to help us remember information about your account and saving your preferences for future visits. We also use cookies to help us understand aggregate data about Openland site visitors so that we can offer better experiences and tools in the future. Openland may use trusted third-party services that track this information on our behalf. Most internet browsers accept cookies automatically, although you are able to control cookies from your browser settings, including changing whether or not you accept them, or removing them entirely. 

		h2 Children
		p The Service is not directed to children under the age of 13 and we do not knowingly collect personally identifiable information from children under the age of 13. If we learn that we have collected personally identifiable information of a child under the age 13, we will take reasonable steps to delete such information from our files as soon as possible. 

		h2 Policy changes
		p Openland reserves the right to change this Privacy Policy from time to time. Any changes to this Privacy Policy will become effective on the "Effective Date" indicated above. If you continue to use the service after those changes took effect, you consent to the new Policy. Openland will always have the latest Policy posted on the Service.

		h2 Contact us
		p If you have comments or questions about our Privacy Policy, please reach out by email at #[a(href=mailTo)= mail] or send physical mail to:#[br] Openland, 100 Van Ness #2305, San Francisco, CA 94102, USA.