-
	links = {
		canonical: 'https://openland.com/sfhac',
		sfhac: 'https://www.sfhac.org/',
		sfdata: 'https://datasf.org/',
		openland: 'https://openland.com/',
		export: '#export'
	}

	meta = {
		page: 'sfhac-widget',
		title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
		description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',

		og: {
			title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
			url: links.canonical,
			description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',
			image: 'https://openland.com/img/sfhac/og.png'
		}
	}

include ./_components.jade

doctype html
html
	+head (meta)
		style(type="text/css").
			img.wp-smiley,
			img.emoji {
				display: inline !important;
				border: none !important;
				box-shadow: none !important;
				height: 1em !important;
				width: 1em !important;
				margin: 0 .07em !important;
				vertical-align: -0.1em !important;
				background: none !important;
				padding: 0 !important;
			}

		link(rel="stylesheet" id="widget-calendar-pro-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/widget-calendar-full.css?ver=4.4.26" type="text/css" media="all")
		link(rel="stylesheet" id="tribe_events-widget-calendar-pro-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/widget-calendar-theme.css?ver=4.4.26" type="text/css" media="all")
		link(rel="stylesheet" id="tribe_events--widget-calendar-pro-override-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/widget-calendar-theme.css?ver=4.4.26" type="text/css" media="all")
		link(rel="stylesheet" id="layerslider_css-css" href="https://www.sfhac.org/wp-content/plugins/LayerSlider/css/layerslider.css?ver=4.6.5" type="text/css" media="all")
		link(rel="stylesheet" id="flowplayer-css-css" href="https://www.sfhac.org/wp-content/plugins/easy-video-player/lib/skin/skin.css?ver=4.9.5" type="text/css" media="all")
		link(rel="stylesheet" id="rs-settings-css" href="https://www.sfhac.org/wp-content/plugins/revslider/rs-plugin/css/settings.css?ver=4.9.5" type="text/css" media="all")
		link(rel="stylesheet" id="rs-captions-css" href="https://www.sfhac.org/wp-content/plugins/revslider/rs-plugin/css/captions.css?ver=4.9.5" type="text/css" media="all")
		link(rel="stylesheet" id="tribe-events-full-pro-calendar-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full.min.css?ver=4.4.26" type="text/css" media="all")
		link(rel="stylesheet" id="tribe-events-calendar-pro-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-theme.min.css?ver=4.4.26" type="text/css" media="all")
		link(rel="stylesheet" id="tribe-events-calendar-full-pro-mobile-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-full-mobile.min.css?ver=4.4.26" type="text/css" media="only screen and (max-width: 768px)")
		link(rel="stylesheet" id="tribe-events-calendar-pro-mobile-style-css" href="https://www.sfhac.org/wp-content/plugins/events-calendar-pro/src/resources/css/tribe-events-pro-theme-mobile.min.css?ver=4.4.26" type="text/css" media="only screen and (max-width: 768px)")
		link(rel="stylesheet" id="parent-style-css" href="https://www.sfhac.org/wp-content/themes/industrial/style.css?ver=4.9.5" type="text/css" media="all")
		link(rel="stylesheet" id="wp-author-bio-css" href="https://www.sfhac.org/wp-content/plugins/wp-about-author/wp-about-author.css?ver=4.9.5" type="text/css" media="all")
		link(rel="stylesheet" id="theme-style-css" href="https://www.sfhac.org/wp-content/themes/industrial-child/style.css?ver=1.0.0" type="text/css" media="screen")
		link(rel="stylesheet" id="theme-fonts-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/fonts.php?ver=1.0.0" type="text/css" media="screen")
		link(rel="stylesheet" id="theme-adapt-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/adaptive.css?ver=1.0.0" type="text/css" media="screen")
		link(rel="stylesheet" id="theme-retina-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/retina.css?ver=1.0.0" type="text/css" media="screen")
		link(rel="stylesheet" id="jackbox-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/jackbox.css?ver=1.0.0" type="text/css" media="screen")
		link(rel="stylesheet" id="jPlayer-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/jquery.jPlayer.css?ver=2.1.0" type="text/css" media="screen")
		link(rel="stylesheet" id="isotope-css" href="https://www.sfhac.org/wp-content/themes/industrial/css/jquery.isotope.css?ver=1.5.19" type="text/css" media="screen")
		|<!--[if lt IE 9]>
		|<link rel='stylesheet' id='theme-ie-css'  href='https://www.sfhac.org/wp-content/themes/industrial/css/ie.css?ver=1.0.0' type='text/css' media='screen' />
		|<![endif]-->
		|<!--[if lt IE 9]>
		|<link rel='stylesheet' id='theme-ieCss3-css'  href='https://www.sfhac.org/wp-content/themes/industrial/css/ieCss3.php?ver=1.0.0' type='text/css' media='screen' />
		|<![endif]-->
		link(rel="stylesheet" id="cmsms-google-font-1-css" href="https://fonts.googleapis.com/css?family=Raleway%3A200%2C400%2C500%2C600%2C700&#038;ver=4.9.5" type="text/css" media="all")

	body: .ol-page
		// widget start

		.ol-sfhac
			.ol-sfhac--title San Francisco Housing in&nbsp;Numbers
			.ol-sfhac--text SFHAC Dashboard
			.ol-sfhac--features
				.ol-sfhac--feature Housing forecast
				.ol-sfhac--feature Growth capacity
				.ol-sfhac--feature Building permits
				.ol-sfhac--feature Voter guide

			.ol-sfhac--btn: a(href="#") Visit Dashboard
			.ol-sfhac--map

		// widget end