@import "_mixins.less";
@import "_reset.less";
@import "_fonts.less";
@import "_colors.less";

// --------

	@screen-xs-max: 767px;

	@screen-sm-min: 768px;
	@screen-sm-max: 959px;

	@screen-md-min: 1000px;
	@screen-md-max: 1171px;

	@screen-lg-min: 1172px;

	@media-xs-only: ~"(max-width: @{screen-xs-max})";

	@media-sm: ~"(min-width: @{screen-sm-min})";
	@media-sm-only: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";

	@media-xs-sm: ~"(max-width: @{screen-sm-max})";

	@media-md: ~"(min-width: @{screen-md-min})";
	@media-md-only: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";

	@media-xs-md: ~"(max-width: @{screen-md-max})";
	@media-sm-md: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-md-max})";

	@media-lg: ~"(min-width: @{screen-lg-min})";

// --------

html { min-width: auto;
	.size (auto, 100%);
}

body {
	font: normal normal 14px/20px 'ApercuPro', arial, sans-serif;
	background: @white;
	color: @text-1;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;

	.min-size (320px);
	.position (relative);

	input, textarea, button { font-family: 'ApercuPro', arial, sans-serif; }
	*, *:before, *:after { box-sizing: border-box; }
}

.left { float: left; }
.right { float: right; }
.clearfix { *zoom: 1;
	&:after { clear: both; }
	&:before, &:after { content: " ";
		.display (table);
	}
}

.container {
	margin: 0 auto;
	padding: 0 30px;

	.size (1172px);
	.min-size (320px);
	.position (relative);

	@media @media-xs-only { padding: 0 15px;
		.size (100%);
	}

	@media @media-sm-only { padding: 0 35px;
		.size (768px);
	}

	@media @media-md-only {
		.size (1000px);
	}
}

.btn {
	border: none;
	text-decoration: none;
	background: @purple-1;
	color: @white;
	border-radius: 4px;
	padding: 0 16px;
	transition: 200ms box-shadow ease,
				200ms background ease;

	.display (inline-block);
	.font (16px, 40px);

	&:hover {
		background: @purple-2;
		box-shadow: 0 6px 24px fade(@purple-1, 20);
	}
}

.btn-outline {
	border: 1px solid fade(@white, 70);
	text-decoration: none;
	color: @white;
	border-radius: 4px;
	padding: 0 18px;
	transition: 200ms border ease,
				200ms color ease,
				200ms background ease;

	.display (inline-block);
	.font (16px, 38px);

	&:hover {
		background: @white;
		color: @purple-1;
		border-color: @white;
	}
}

// --------

.header {
	padding: 24px 0;

	&--in {
		.position (relative);
		.clearfix ();
	}

	&--logo {
		float: left;
		padding: 9px 0 14px;

		.display (block);

		img {
			.display (block);
			.size (88px, 17px);
		}
	}

	&--open {
		.display (none);

		@media @media-xs-only {
			.display (block);
		}
	}

	&--nav {
		transform: translate(-50%, 0);

		.position-tl (absolute, 0, 50%);

		@media @media-xs-only {
			.display (none);
		}
	}

	&--list {
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		.font (0);
	}

	&--item {
		margin: 0 12px;

		.display (inline-block);

		a {
			color: @text-1;
			text-decoration: none;

			.display (block);
			.font (16px, 40px);
			.position (relative);

			&:before {
				content: "";
				background: @text-1;
				transition: 200ms width ease;

				.display (block);
				.position (absolute, auto, auto, 7px, 0);
				.size (0, 1px);
			}

			&:hover {
				&:before {
					.size (34px, 1px);
				}
			}
		}

		&.is-active {


			a {
				color: @purple-1;

				&:before {
					background: @purple-1;

					.size (34px, 1px);
				}
			}
		}
	}

	&--btn {
		float: right;

		@media @media-xs-sm {
			.display (none);
		}
	}
}

.menu {
	.display (none);

	@media @media-sm {
		.display (none)!important;
	}
}

.footer {
	padding: 24px 0;

	&--in {
		.position (relative);
		.clearfix ();
	}

	&--logo {
		float: left;
		padding: 9px 0 14px;

		.display (block);

		@media @media-sm-only {
			.display (none);
		}

		img {
			.display (block);
			.size (88px, 17px);
		}
	}

	&--nav {
		transform: translate(-50%, 0);

		.position-tl (absolute, 0, 50%);
	}

	&--list {
		list-style: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;

		.font (0);
	}

	&--item {
		margin: 0 12px;

		.display (inline-block);

		a {
			color: @text-1;
			text-decoration: none;

			.display (block);
			.font (16px, 40px);
			.position (relative);

			&:before {
				content: "";
				background: @text-1;
				transition: 200ms width ease;

				.display (block);
				.position (absolute, auto, auto, 7px, 0);
				.size (0, 1px);
			}

			&:hover {
				&:before {
					.size (34px, 1px);
				}
			}
		}

		&.is-active {


			a {
				color: @purple-1;

				&:before {
					background: @purple-1;

					.size (34px, 1px);
				}
			}
		}
	}

	&--btn {
		float: right;
	}
}

// --------

.page {
	overflow: hidden;
}

.intro {
	padding: 48px 0 107px;

	&--title {
		text-align: center;
		margin: 0 0 26px;

		.font (56px, 64px, 700);
	}

	&--text {
		text-align: center;
		opacity: .60;
		margin: 0 0 38px;

		.font (20px, 24px);
	}

	&--form {
		margin: 0 auto 61px;

		.size (386px);
	}

	&--illustration {
		.position (relative);
		.size (auto, 265px);
	}

	&--image {
		margin: 0 0 0 -556px;

		.size (1112px, 265px);
		.position (absolute, 0, auto, 0, 50%);

		img {
			margin: 0 auto;

			.display (block);
			.size (1097px);
		}
	}
}

.form {
	.clearfix ();

	&--input {
		float: left;
		border: 1px solid fade(@text-1, 25);
		border-right: none;
		border-radius: 4px 0 0 4px!important;
		padding: 0 15px;

		.display (block);
		.size (~'calc(100% - 145px)', 48px);
		.font (16px, 46px);
	}

	&--submit {
		float: right;
		border: none;
		background: @purple-1;
		color: @white;
		border-radius: 0 4px 4px 0;
		text-align: center;
		transition: 200ms background ease;

		.size (145px, 48px);
		.display (block);
		.font (16px, 48px);

		&:hover {
			background: @purple-2;
		}
	}
}

.map {
	padding: 0 0 89px;

	&--in {
		margin: 0 auto 100px;
		text-align: center;

		.max-size (520px);
	}

	&--title {
		margin: 0 0 21px;

		.font (28px, 34px, 500);
	}

	&--text {
		opacity: .60;

		.font (20px, 32px);
	}

	&--wrap {
		.clearfix ();
	}

	&--tabs {
		float: left;
		padding: 38px 0 0;
	}

	&--tab {
		padding: 15px 0 15px 56px;
		margin: 0 0 5px;
		opacity: .50;
		color: @text-1;
		text-decoration: none;
		transition: 200ms opacity ease,
					200ms color ease;

		.display (block);
		.position (relative);
		.font (0);

		&:before {
			content: "";
			background: @purple-1;
			border-radius: 48px;
			transform: translate(-50%, -50%);
			transition: 200ms width ease,
						200ms height ease;

			.display (block);
			.position-tl (absolute, 37px, 16px);
			.size (0, 0);
		}

		&:last-child {
			margin: 0;
		}

		span {
			transition: 200ms padding ease;
			margin: 0 0 2px;

			.display (block);
			.position (relative);
			.font (20px, 24px, 500);

			&:before {
				content: "";
				background: @purple-1;
				transition: 200ms width ease;

				.display (block);
				.position-tl (absolute, 11px, 0);
				.size (0, 2px);
			}
		}

		small {
			opacity: .60;
			margin: 0 13px 0 0;

			.font (14px, 20px);
			.display (inline-block);

			&:last-child {
				margin: 0;
			}
		}

		&:hover {
			opacity: 1;
		}

		&.is-active {
			color: @purple-1;
			opacity: 1;
			cursor: default;

			&:before {
				.size (48px, 48px);
			}

			span {
				padding: 0 0 0 28px;

				&:before {
					.size (20px, 2px);
				}
			}
		}
	}

	&--icon {
		svg {
			margin: 0;

			.display (block);

			.fillWhite { fill: @white; }
			.fillPurple {
				fill: @text-1;
				transition: 200ms color ease;
			}
		}

		&.is-01 { .position-tl (absolute, 2px, 1px); }
		&.is-02 { .position-tl (absolute, 15px, 0); }
		&.is-03 { .position-tl (absolute, 21px, 0); }
		&.is-04 { .position-tl (absolute, 23px, 0); }
	}

	&--tab.is-active &--icon svg {
		.fillPurple { fill: @purple-1; }
	}

	&--boxes {
		float: right;
		z-index: 1;
		background: url(../img/map.png) center center no-repeat;
		background-image: -webkit-image-set(url(../img/map.png) 1x, url(../img/map@2x.png) 2x);
		background-size: cover;

		.size (728px, 391px);
		.position (relative);
	}

	&--box {
		opacity: 0;
		transition: 400ms opacity ease;

		.position (absolute, 0, 0, 0, 0);

		&.is-shown {
			opacity: 1;
		}
	}

	&--dot {
		background: @purple-1;
		color: @white;
		text-align: center;
		border-radius: 29px;
		padding: 7px 0 0;
		margin: -14px 0 0 -14px;
		transition: 400ms transform ease;
		transform: scale(0, 0);

		.size (29px, 29px);
		.font (14px, 17px, 700);
		.position (absolute);

		&.is-large {
			border-radius: 58px;
			padding: 16px 0 0;
			margin: -29px 0 0 -29px;

			.size (58px, 58px);
			.font (24px, 29px);
		}
	}

	&--box.is-shown &--dot {
		transform: scale(1, 1);
	}
}

.more {
	border-bottom: 1px solid fade(@black, 15);
	padding: 0 0 105px;

	.clearfix ();

	&--in {
		float: left;
		padding: 2px 0 0;

		.size (435px);
	}

	&--title {
		margin: 0 0 21px;

		.font (28px, 34px, 500);
	}

	&--text {
		opacity: .60;
		margin: 0 0 32px;

		.font (20px, 32px);
	}

	&--form {
		.size (386px);
	}

	&--counters {
		float: right;
		margin: 0 0 0 40px;

		.size (248px);
	}

	&--counter {
		opacity: .70;
		margin: 0 0 23px;

		.font (14px, 18px);

		&:last-child {
			margin: 0;
		}
	}
}

.platform {
	padding: 107px 0 39px;

	&--in {
		text-align: center;
		margin: 0 auto 103px;

		.max-size (520px);
	}

	&--title {
		margin: 0 0 21px;

		.font (28px, 34px, 500);
	}

	&--text {
		opacity: .60;

		.font (20px, 32px);
	}

	&--grid {
		margin: 0 -20px;

		.font (0);
	}

	&--item {
		padding: 0 20px 65px;

		.size (100% / 3);
		.display (inline-block);
		.font (14px, 20px);
	}
}

.feature {
	&--icon {
		margin: 0 0 23px;
		color: @purple-1;

		i { .display (block);
			&.icon-feature-01 { .font (21px, 23px); }
			&.icon-feature-02 { .font (19px, 23px); }
			&.icon-feature-03 { .font (21px, 23px); }
			&.icon-feature-04 { .font (23px); }
			&.icon-feature-05 { .font (23px); }
			&.icon-feature-06 { .font (19px, 23px); }
		}
	}

	&--title {
		margin: 0 0 12px;

		.font (20px, 28px, 500);
	}

	&--text {
		opacity: .60;

		.font (16px, 28px);
	}
}

.explore {
	background: @purple-1;
	color: @white;
	padding: 92px 0 109px;

	&--title {
		margin: 0 0 36px;

		.font (36px, 43px);
	}

	&--in {
		.clearfix ();
	}

	&--col {
		float: left;

		.size (384px);
	}

	&--subtitle {
		margin: 0 0 9px;

		.font (20px, 32px);
	}

	&--link {
		opacity: .70;
		color: @white;
		transition: 200ms opacity ease;
		text-decoration: none;
		padding: 0 0 5px;

		.font (16px, 20px);
		.position (relative);

		&:before {
			content: "";
			background: @white;
			transition: 200ms opacity ease;
			opacity: .70;

			.display (block);
			.position (absolute, auto, auto, 0, 0);
			.size (100%, 1px);
		}

		&:hover {
			opacity: 1;

			&:before {
				opacity: 0;
			}
		}
	}

	&--btn {
		float: left;
		margin: 4px 0 0 27px;
	}
}

// --------

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-ib,
.visible-sm-ib,
.visible-md-ib,
.visible-lg-ib { .display (none); }

@media @media-xs-only {
	.visible-xs { .display (block); }
	.visible-xs-ib { .display (inline-block); }

	.hidden-xs { .display (none)!important; }
}

@media @media-sm-only {
	.visible-sm { .display (block); }
	.visible-sm-ib { .display (inline-block); }

	.hidden-sm { .display (none)!important; }
}

@media @media-md-only {
	.visible-md { .display (block); }
	.visible-md-ib { .display (inline-block); }

	.hidden-md { .display (none)!important; }
}

@media @media-lg {
	.visible-lg { .display (block); }
	.visible-lg-ib { .display (inline-block); }

	.hidden-lg { .display (none)!important; }
}