@font-face {
	font-family: 'SFProText';
	src: url('https://openland.com/fonts/sfprotext/fonts/SFProText-Regular.woff2') format('woff2'),
		 url('https://openland.com/fonts/sfprotext/fonts/SFProText-Regular.woff') format('woff');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFProText';
	src: url('https://openland.com/fonts/sfprotext/fonts/SFProText-Semibold.woff2') format('woff2'),
		 url('https://openland.com/fonts/sfprotext/fonts/SFProText-Semibold.woff') format('woff');

	font-weight: 600;
	font-style: normal;
}