-
	links = {
		canonical: 'https://openland.com/sfhac',
		sfhac: 'https://www.sfhac.org/',
		sfdata: 'https://datasf.org/',
		openland: 'https://openland.com/',
		export: '#export'
	}

	meta = {
		title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
		description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',

		og: {
			title: 'SFHAC Dashboard | San Francisco Housing in Numbers',
			url: links.canonical,
			description: 'Statistics on housing production, building permits, and growth capacity in San Francisco',
			image: 'https://openland.com/sfhac/img/og.png'
		}
	}

include ../../jade/_components.jade

mixin ol-sfhac
	.ol-sfhac&attributes(attributes)
		.ol-sfhac--title San Francisco Housing in&nbsp;Numbers
		.ol-sfhac--text SFHAC Dashboard
		.ol-sfhac--features
			.ol-sfhac--feature Housing forecast
			.ol-sfhac--feature Growth capacity
			.ol-sfhac--feature Building permits
			.ol-sfhac--feature Voter guide

		.ol-sfhac--btn: a(href="#") Visit Dashboard

		block

doctype html
html
	+head (meta)

	body: .ol-page
		-// widget #1 start
		-//+ol-sfhac: .ol-sfhac--map
		-// widget #1 end

		// widget #2 start

		+ol-sfhac.with-counters
			.ol-sfhac--counters
				.ol-sfhac--cols
					.ol-sfhac--counter 2017 net new units#[span 3123]
					.ol-sfhac--counter 2018 net new units#[span 2812]
					.ol-sfhac--counter Mayor’s annual target#[span 5000]

				.ol-sfhac--label Projected housing completions

		// widget #2 end