@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qja5ar');
  src:  url('fonts/icomoon.eot?qja5ar#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qja5ar') format('truetype'),
    url('fonts/icomoon.woff?qja5ar') format('woff'),
    url('fonts/icomoon.svg?qja5ar#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shortcuts:before {
  content: "\e909";
}
.icon-intro:before {
  content: "\e90a";
}
.icon-account:before {
  content: "\e90b";
}
.icon-chats:before {
  content: "\e90c";
}
.icon-android:before {
  content: "\e90d";
}
.icon-ios:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e907";
}
.icon-burger:before {
  content: "\e908";
}
.icon-tw:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-lin:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-al:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e900";
}
