@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('@{icomoon-font-path}/icomoon.eot?fr20px');
  src:  url('@{icomoon-font-path}/icomoon.eot?fr20px#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icomoon.ttf?fr20px') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?fr20px') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?fr20px#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-burger {
  &:before {
    content: @icon-burger; 
  }
}
.icon-tw {
  &:before {
    content: @icon-tw; 
  }
}
.icon-mail {
  &:before {
    content: @icon-mail; 
  }
}
.icon-lin {
  &:before {
    content: @icon-lin; 
  }
}
.icon-fb {
  &:before {
    content: @icon-fb; 
  }
}
.icon-al {
  &:before {
    content: @icon-al; 
  }
}
.icon-google {
  &:before {
    content: @icon-google; 
  }
}
.icon-phone {
  &:before {
    content: @icon-phone; 
  }
}

