@icomoon-font-family: "icomoon";
@icomoon-font-path: "../fonts/icomoon/fonts";

@icon-close: "\e907";
@icon-burger: "\e908";
@icon-shortcuts: "\e909";
@icon-intro: "\e90a";
@icon-account: "\e90b";
@icon-chats: "\e90c";
@icon-android: "\e90d";
@icon-ios: "\e90e";
@icon-tw: "\e902";
@icon-mail: "\e903";
@icon-lin: "\e904";
@icon-fb: "\e905";
@icon-al: "\e906";
@icon-google: "\e901";
@icon-phone: "\e900";

